---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMDgzLCJpYXQiOjE1MzMxNzE5NjMsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.kHlZJXZElOxmJWkr9rW_NTKpDbIK3OACk8y618cIxy8_Yjntyai9OtwofhkXGgpsD7mOvitpZkFJwGv0oCZCwDPmmfiFwFk1j5KSaZq0RfFbdTmoTfO2D4c9vxY5lSOMHIXB86t2wX4_CO73kqdP42HFcL9W-Db1NIsT3d_Cvq-NAND7rpU4JGu_Rzjt7fXbBR5O4ki8bJX2p8tjGrBpEsAiusrgB9M6gvlhOmrFNMK__76_PHLMsmu5V_Er7c8LoQNIMGx5BXfFyGWZObQTSoZT9i64gY12FMAfyhqk43jIJjH0-FZop1_YpV09CTlk4FEZZfrhcMnSBI5f2gRi3A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBgwj8l-kdCN3UUwlUvmx-geYjsW_ykXQDZQC6dCrsSEu8AWch3oowPhaAzOabc6Dz8cAbXN2gyOhOyvtv-Z2AodeM110TXCeMw1A6ByhNEMmIL5ZbKOQa8U",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgwj8l-kdCN3UUwlUvmx-geYjsW_ykXQDZQC6dCrsSEu8AWch3oowPhaAzOabc6Dz8cAbXN2gyOhOyvtv-Z2AodeM110TXCeMw1A6ByhNEMmIL5ZbKOQa8U
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6zQFecByJBJd-u9sunUpKgA7Tic=/kI1RiREEprQeKiqi3OM5ycOWtVM="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgwj8l-kdCN3UUwlUvmx-geYjsW_ykXQDZQC6dCrsSEu8AWch3oowPhaAzOabc6Dz8cAbXN2gyOhOyvtv-Z2AodeM110TXCeMw1A6ByhNEMmIL5ZbKOQa8U
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/addresses/test1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/addresses/test1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:04 GMT
recorded_with: VCR 4.0.0
