---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTY3LCJpYXQiOjE1MzMxNzIwNDcsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.YLn6DdbSaURxifsrQat9zb2DOgIXE9JHLZCHW6Rfag5Au5TviLcwuC_WBcSJEXnpzIuY0wU4bheAlncoRp7-9aLzyQynW_FtGh_JrxMIfKw9L5U0GW0qV5U7k7BIhxaycfng62EQVXkdeuhlR5kG7ptMU_A9z2whqfXp2j3Y4Jj6gbvlWJ7btM_wTbLtfY2RdgZb_spDlDF7OhVOW3I6WXD16jQv2ZbPzw8K3gCtEePAI_9U4smWhiKnvj7C8ouivAfgUSDZMLNH2m8s-fMCqFyAXX8bpFuHC9bQrVUgRh_8ESeZ4b2KMFbpjW13_3-FBnqkS_sp-8TZtzq2HNBlZg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBj9chXLzOxYp_hNa1DZa7g9NGREhJlAG7UBApjKinMuluU5NRRQjomkrml9n7zaA35h-JK0iht26ZDLaH8cwECyXFg7Zo91BcyXDOgaKuNw8L7VkrdH5q70",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:08:27 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBj9chXLzOxYp_hNa1DZa7g9NGREhJlAG7UBApjKinMuluU5NRRQjomkrml9n7zaA35h-JK0iht26ZDLaH8cwECyXFg7Zo91BcyXDOgaKuNw8L7VkrdH5q70
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"WFYTzxpCs6yBtfWbvuAA5KIRqSc=/TtACrodijaEDtEKPCqs0C5X351A="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:08:27 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBj9chXLzOxYp_hNa1DZa7g9NGREhJlAG7UBApjKinMuluU5NRRQjomkrml9n7zaA35h-JK0iht26ZDLaH8cwECyXFg7Zo91BcyXDOgaKuNw8L7VkrdH5q70
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"oUfSbCjN8IconRUwar1nFagkKbI=/HRZtoIkgtgEI5qqCkQpmgvXNqaE="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#disk",
         "id": "4345021521422444399",
         "creationTimestamp": "2018-08-01T18:08:16.810-07:00",
         "name": "instance-test-os-1",
         "sizeGb": "50",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "status": "READY",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "sourceImage": "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-1604-xenial-v20180724",
         "sourceImageId": "6243803748120370197",
         "type": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/diskTypes/pd-standard",
         "licenses": [
          "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
         ],
         "guestOsFeatures": [
          {
           "type": "VIRTIO_SCSI_MULTIQUEUE"
          }
         ],
         "lastAttachTimestamp": "2018-08-01T18:08:21.682-07:00",
         "users": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test"
         ],
         "labelFingerprint": "42WmSpB8rSM=",
         "licenseCodes": [
          "1000201"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:08:27 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBj9chXLzOxYp_hNa1DZa7g9NGREhJlAG7UBApjKinMuluU5NRRQjomkrml9n7zaA35h-JK0iht26ZDLaH8cwECyXFg7Zo91BcyXDOgaKuNw8L7VkrdH5q70
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"VlFORG3iax51hlyNevTYAnu4w2U=/etKjcva26EP87WnZWO-bNWh4-58="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "1942981909161036014",
         "creationTimestamp": "2017-11-30T13:20:01.581-08:00",
         "name": "default",
         "description": "Default network for the project",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
         "autoCreateSubnetworks": true,
         "subnetworks": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/europe-west4/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/northamerica-northeast1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/asia-south1/su[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBj9chXLzOxYp_hNa1DZa7g9NGREhJlAG7UBApjKinMuluU5NRRQjomkrml9n7zaA35h-JK0iht26ZDLaH8cwECyXFg7Zo91BcyXDOgaKuNw8L7VkrdH5q70
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"etfZgZOg4Zu3vYIw6PZzzmd9I1s=/ni9WJ_avSXdesS90WLIfK2PQ_J0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1",
         "description": "us-central1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-c",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-f"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 2.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 560.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 3.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 1.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBjE-fjydU5f28D3xuL41mNMEuwfTDTOow9rihTyKP4nbxo0Drh4yBeffv8KUBSyWDoCTak9YaO9s_RG4KOvYPp8xowekeGbUB6F4_dilz0t37E_6woyh6jo
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"RnL3k_HCqDTnGqhLPALzNWWNqEk=/-g1rnIvqaqV0S1gPW3Z9cnJzbuQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#machineType",
         "id": "3001",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "n1-standard-1",
         "description": "1 vCPU, 3.75 GB RAM",
         "guestCpus": 1,
         "memoryMb": 3840,
         "imageSpaceGb": 10,
         "maximumPersistentDisks": 32,
         "maximumPersistentDisksSizeGb": "65536",
         "zone": "us-central1-a",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "isSharedCpu": false
        }
  recorded_at: Thu, 02 Aug 2018 01:08:28 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBjE-fjydU5f28D3xuL41mNMEuwfTDTOow9rihTyKP4nbxo0Drh4yBeffv8KUBSyWDoCTak9YaO9s_RG4KOvYPp8xowekeGbUB6F4_dilz0t37E_6woyh6jo
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PKitKO6wz_0NCkiaxrsJ5LUUw-w=/11n3oWeRqdlwWPlzDXb4yGPZekk="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#address",
         "id": "8653093024631897164",
         "creationTimestamp": "2018-06-28T17:51:47.540-07:00",
         "name": "instance-test-ip",
         "description": "",
         "address": "35.188.52.167",
         "status": "IN_USE",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip",
         "users": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test"
         ],
         "networkTier": "PREMIUM"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:28 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBjE-fjydU5f28D3xuL41mNMEuwfTDTOow9rihTyKP4nbxo0Drh4yBeffv8KUBSyWDoCTak9YaO9s_RG4KOvYPp8xowekeGbUB6F4_dilz0t37E_6woyh6jo
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"CdSHJmaRyOIChGhjmRDijKfHRb8=/hthgaD44-6kyj2yk_IlI_Vebqs8="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#instance",
         "id": "153719909720778603",
         "creationTimestamp": "2018-08-01T18:08:21.596-07:00",
         "name": "instance-test",
         "tags": {
          "fingerprint": "42WmSpB8rSM="
         },
         "machineType": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "status": "RUNNING",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "networkInterfaces": [
          {
           "kind": "compute#networkInterface",
           "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
           "subnetwork": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
           "networkIP": "10.128.0.3",
           "name": "nic0",
           "accessConfigs": [
            {
             "kind": "compute#accessConfig",
             "type": "ONE_TO_ONE_NAT",
             "name": "External NAT",
             "natIP": "35.188.52.167",
             "networkTier": "PREMIUM"
            }
           ],
           "fingerprint": "itHulOyB9y8="
          }
         ],
         "disks": [
          {
           "kind": "compute#attachedDisk",
           "type": "PERSISTENT",
           "mode": "READ_WRITE",
           "source": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
           "deviceName": "persistent-disk-0",
           "index": 0,
           "boot": true,
           "autoDelete": true,
           "licenses": [
            "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
           ],
           "interface": "SCSI",
           "guestOsFeatures": [
            {
             "type": "VIRTIO_SCSI_MULTIQUEUE"
            }
           ]
          }
         ],
         "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "kZvH-xYpACI=",
          "items": [
           {
            "key": "startup-script-url",
            "value": "gs://graphite-playground/bootstrap.sh"
           },
           {
            "key": "cost-center",
            "value": "12345"
           }
          ]
         },
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false
         },
         "cpuPlatform": "Intel Sandy Bridge",
         "labelFingerprint": "42WmSpB8rSM=",
         "startRestricted": false,
         "deletionProtection": false
        }
  recorded_at: Thu, 02 Aug 2018 01:08:28 GMT
recorded_with: VCR 4.0.0
