---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTU0LCJpYXQiOjE1MzMxNzIwMzQsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.TesYK9AhM49dDDaRK1S4Xl8n765ZA0cYtOO1O0JjmC2P5I6o9DjUN7zSzQk2sMyKSvfbkfiC4d0lcEEl5lozbpgaDr_F1DCYa6m3W4XEE4B8D9vXZEeScM9h76LocvV2zMWFYfpb_CZaBl0TdDa0rgouyBejp_2LtulkCuvJLwPqIK3Wacjc-rJ0AmdwcnyT1XWZLJDGsxtHT2e2FDNvLC9yAGrepTDWspkliQhnfCO-M7xw8QvEzK2hzCCHmHtfvHvqy0joEHK-ELHsTuJRSQnEfp6kNkAuxOk_TO2LHqhe4xz4ZN_YyWw79ZiUOd5-s_FPKGQo-7G5sOVHLj69eQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBuedPxFJUlQR_ZwjgzKq0uMAPib6FFuPMBcuHRGZhBthLE_7raYJ1BVH86PyBsAObSd5XpUkl9IFBUt2QV0gBiN9NORiSSdE3L4wM8_eABSk9RFGHcjMYU8",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:08:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBuedPxFJUlQR_ZwjgzKq0uMAPib6FFuPMBcuHRGZhBthLE_7raYJ1BVH86PyBsAObSd5XpUkl9IFBUt2QV0gBiN9NORiSSdE3L4wM8_eABSk9RFGHcjMYU8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"_QSnEBuFOaTJ_KSpJhiZtaQi_Ig=/-W3pqqu3VAhvOhyjYVfEWuYPMLY="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:08:14 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBuedPxFJUlQR_ZwjgzKq0uMAPib6FFuPMBcuHRGZhBthLE_7raYJ1BVH86PyBsAObSd5XpUkl9IFBUt2QV0gBiN9NORiSSdE3L4wM8_eABSk9RFGHcjMYU8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"MvJlz2AQoMBsMv2hMlCK0ijYKxM=/SZizyZgWkx3jhaOKNDp3rWFcVo0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#disk",
         "id": "1473870608857032597",
         "creationTimestamp": "2018-08-01T18:08:11.166-07:00",
         "name": "data-disk-1",
         "sizeGb": "500",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "status": "READY",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1",
         "type": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/diskTypes/pd-standard",
         "labelFingerprint": "42WmSpB8rSM="
        }
  recorded_at: Thu, 02 Aug 2018 01:08:14 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/images/test-image
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBuedPxFJUlQR_ZwjgzKq0uMAPib6FFuPMBcuHRGZhBthLE_7raYJ1BVH86PyBsAObSd5XpUkl9IFBUt2QV0gBiN9NORiSSdE3L4wM8_eABSk9RFGHcjMYU8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/images/test-image' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/images/test-image' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:08:14 GMT
recorded_with: VCR 4.0.0
