---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDM0LCJpYXQiOjE1MzMxNzIzMTQsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.DdAwBE3QzCipQOeJv41JbhMQnIlOWtHHIerparM1s-lOOvxWuoKWGS7MphRDFoTMYjRj9jzObSUov57W800_w3cT7s-dO_uYukxDQR-S4VO3g9yBgvj4RXMHpzBenZAYnF7rgtmsvJYAeslRnCzwAouNp65hhNtC5lEbVxDtq2Gr19rv_T7pbpzUq5xrmlt3eG67CfNNG_nb-JRD9EdP-lzj6GaHktY0VDPkQHQox-IfDKVPrc9uSKVIuCbGwixLEvK9aOkR9KBffnPA1uzYF_wlvirNF5uIncQ5U8zkSqv-7I03tHB0gnIrZkY89L8Bpd8c5-x85iL7cc3JYDqghA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.EloLBnVsGWQWSslim7GqYz6TwGpBj2Y8hl9tgVggBXeBLLQrH2d62IKui9qogbeOhp6K-kdS2F1v8jQfI4g3nyuEhXSPM7tIjKJX0l8p61wBo5E5dBb2cDW-YS0",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 02 Aug 2018 01:12:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBnVsGWQWSslim7GqYz6TwGpBj2Y8hl9tgVggBXeBLLQrH2d62IKui9qogbeOhp6K-kdS2F1v8jQfI4g3nyuEhXSPM7tIjKJX0l8p61wBo5E5dBb2cDW-YS0
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"NGwtmXiLRKRaN2WjnNxcaQuz1Ok=/1yX0rYN4MlF4UrbPZIoMpXtFAao="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:12:54 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBnVsGWQWSslim7GqYz6TwGpBj2Y8hl9tgVggBXeBLLQrH2d62IKui9qogbeOhp6K-kdS2F1v8jQfI4g3nyuEhXSPM7tIjKJX0l8p61wBo5E5dBb2cDW-YS0
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6Nibas7RsQ3GdfBMkMHJdUJEGXY=/xrvmLSeYDxzcko1urKhjLb6aQ48="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "5347685549388851554",
         "creationTimestamp": "2018-08-01T17:59:57.163-07:00",
         "name": "my-network",
         "IPv4Range": "10.240.0.0/16",
         "gatewayIPv4": "10.240.0.1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network",
         "routingConfig": {
          "routingMode": "REGIONAL"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:12:54 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBnVsGWQWSslim7GqYz6TwGpBj2Y8hl9tgVggBXeBLLQrH2d62IKui9qogbeOhp6K-kdS2F1v8jQfI4g3nyuEhXSPM7tIjKJX0l8p61wBo5E5dBb2cDW-YS0
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PNH-DJ9EIF-6br0rJh_jD4EdjI8=/LNTEjdfMttpv5d1C-RtUCCqaE6A="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#instanceGroup",
         "id": "6388810807627474043",
         "creationTimestamp": "2018-08-01T18:12:52.420-07:00",
         "name": "my-puppet-masters",
         "description": "",
         "namedPorts": [
          {
           "name": "puppet",
           "port": 8140
          }
         ],
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network",
         "fingerprint": "4k4b3RbbPfc=",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters",
         "size": 0
        }
  recorded_at: Thu, 02 Aug 2018 01:12:54 GMT
recorded_with: VCR 4.0.0
