---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNTI1LCJpYXQiOjE1MzMxNzI0MDUsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.0Y1Sd0BFFYm_aKG4SfyvYRVb8g9RKmZgyfg_21kestf53STzfMGU5EqttdeLmmEHxVGonYHV6eu4fI0gYC2yqz0Yz8zcljjWONbg68W_EciDQjZfa35moBK5uQJ5CkOw6jrCfMAAiy4ou0K0tFx9aIgPF6iRPf1TzhETushnTpp_HPx5wgXubTxUEKe8oFLtjdisU3ii0yUFQF4fOVpqeIvYosCHvrQVMunIocdeG0tOnS5SP9prHELb4EETwhfoWDMcrrOqSUQrnkF21i6d1fPgcJJNBtvQaAmiWc_08_7m7IdfhyEtILMc9r2ujRYo9bBoT1g3yKjwSUci_hrddg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBoWAwpKw71nb33n6Gvx6AjAsCQmRQa_WQuvQQ78dtp9nPHDoj_rZFgGRaHOxiUnhRf0Ek8Xe_4mU5VibiAdpoePzm2f3BBrSpxsoRAe9xACCmGpbF9PPqBM",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:14:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBoWAwpKw71nb33n6Gvx6AjAsCQmRQa_WQuvQQ78dtp9nPHDoj_rZFgGRaHOxiUnhRf0Ek8Xe_4mU5VibiAdpoePzm2f3BBrSpxsoRAe9xACCmGpbF9PPqBM
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Krh-_w8tSnMaKFJd1OxHrtpvdto=/lvUJWwsG5ucoyyNjRQjfoT_sj0Q="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBoWAwpKw71nb33n6Gvx6AjAsCQmRQa_WQuvQQ78dtp9nPHDoj_rZFgGRaHOxiUnhRf0Ek8Xe_4mU5VibiAdpoePzm2f3BBrSpxsoRAe9xACCmGpbF9PPqBM
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"R-lmJROjjbuL3z5K19kMy1Fxmco=/17oldk6s-0i5-UG_xD3eqXZvNqU="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#targetPool",
         "id": "5130079485148783616",
         "creationTimestamp": "2018-08-01T18:14:23.852-07:00",
         "name": "test1",
         "description": "",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1",
         "sessionAffinity": "NONE",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:25 GMT
recorded_with: VCR 4.0.0
