---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDMwLCJpYXQiOjE1MzMxNzIzMTAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.uwk6jEcxiaVSLvFJXyp-pd8-peHdyH1z5mWcIMtz5IaeZNSkRjCNGGiXMwUqYofZG8GquTz6TxLnlAF9aZ_PwDqjRBFQJr-0GUTnyF7jyEYqgU64T-dpAv_Ojn8NtIaGs6aZaItDSbVZF5VmVqWmL28pOFVM16vIWO3-OiwT5rCfqt7WPU7jbAmYN8cSEuRYcv-Q6RMujiHNY59gCmOPaSqRPt3sYBIbOQcUpvXbqZwpSEaoSRXQNfA0vyrNHKqB1EEyTYdiqFu4Xer1fKK3lDItvbPIwxihilk4p8jYNlPQKRx5ko1GGbk_m2Capurp9KPFHeehkiYN7NEY7TvMpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBhPj8GGBQKOwmDiikH3fQJC5JjKUZh-YzBb9wTlZaR7exxrkb-8qmhbUrjhiDDAeGTO98VpCEYZvIn8JESSB1zyvituAa86FpMF3lb-VsF3Q-GrANE3g6TA",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:12:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBhPj8GGBQKOwmDiikH3fQJC5JjKUZh-YzBb9wTlZaR7exxrkb-8qmhbUrjhiDDAeGTO98VpCEYZvIn8JESSB1zyvituAa86FpMF3lb-VsF3Q-GrANE3g6TA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"TwCl2TyDC470iIKASysp-tzW6JQ=/XzPH0C9vesdjbYduNd2ecd8yzFE="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:12:50 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBhPj8GGBQKOwmDiikH3fQJC5JjKUZh-YzBb9wTlZaR7exxrkb-8qmhbUrjhiDDAeGTO98VpCEYZvIn8JESSB1zyvituAa86FpMF3lb-VsF3Q-GrANE3g6TA
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:12:50 GMT
recorded_with: VCR 4.0.0
