---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNTA0LCJpYXQiOjE1MzMxNzIzODQsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.YabU_GZ8IPSyMuBy6Eiv2Ua9e80xTiBQoNpNd6mv3J3LMVYLmKXarj2GEl1qPHaneunml0XEpnwd2ha9bO8re1f8hZK8HqvIOA_6pLvxHk4Aa3Ub4bn3J7G0VuOTy-7BC9M_qrm16G1ck3yrNo27sWfzP_L52uGG0zYrJLeLkuYVyc31ENyOSzUrS7pgHVgJowEw4EPcTZ-AYjm_-aSfSNANS53TzUV2S8w8dk5sNOFCFVyqujDuoy2aJHnkNOFcBB-yPoq_sz1PfJsvqDw3V8TnJjo4IdB4p730nk4HbFAjC9FCh9UiiFy7csb4KkPyer1b3DOGThVnexWnkrIoHg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBq3DlyXAKGPkGyqtJ3OTeqLlRECFkIXY3y5xA5qwPpEDuorjqkSj6T4Z3rAUCj8RUkRKyNiQ5XVzVkpG_1pyyxt252AG-7asudAqwOAruaiNHnAIdAQfpYE",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:14:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBq3DlyXAKGPkGyqtJ3OTeqLlRECFkIXY3y5xA5qwPpEDuorjqkSj6T4Z3rAUCj8RUkRKyNiQ5XVzVkpG_1pyyxt252AG-7asudAqwOAruaiNHnAIdAQfpYE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"QID6lEvD-iR2EjjoHa0nBInQNkY=/9Hd0-RRpnN4tIvinF1yMBeLqG2A="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "2200018384539608144",
         "creationTimestamp": "2018-08-01T18:13:35.969-07:00",
         "name": "mynetwork-subnetwork",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork",
         "autoCreateSubnetworks": false,
         "subnetworks": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers"
         ],
         "routingConfig": {
          "routingMode": "REGIONAL"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:14:05 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrBWl3RHitdIsGUjalEmAGYs6_ANUDYe0A0mcgNUfxlbnqJPUZe6NHd60AAttd0-DumCoiN-lvituAQQ0sbqAvu8mSGFPkkMFcfuffEr5oxlMlrOMuP1vZ4
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"OCNuaAwA5M02mtPluyV8tDdtaMI=/cNcj4WNVInZj42kRSUcjqertKZw="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrBWl3RHitdIsGUjalEmAGYs6_ANUDYe0A0mcgNUfxlbnqJPUZe6NHd60AAttd0-DumCoiN-lvituAQQ0sbqAvu8mSGFPkkMFcfuffEr5oxlMlrOMuP1vZ4
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"dLFVi3n453LZoQttP8qhJE9DZHE=/uGXpW6ScOWv438IHjcwlTz3ANzA="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#subnetwork",
         "id": "4532361457933739042",
         "creationTimestamp": "2018-08-01T18:13:50.025-07:00",
         "name": "servers",
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork",
         "ipCidrRange": "172.16.0.0/16",
         "gatewayAddress": "172.16.0.1",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers",
         "privateIpGoogleAccess": false,
         "fingerprint": "f5Ax_7tVJVI="
        }
  recorded_at: Thu, 02 Aug 2018 01:14:05 GMT
recorded_with: VCR 4.0.0
