---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMDk5LCJpYXQiOjE1MzMxNzE5NzksInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.0FHZ7zW13ONEMtHLQhNpIhtceMZLYd87p70RjGGHJX9qRp4Ot-F2qq7xuZd5Tzlb0EEAje6_7A6BkhcuGGyg9O0uzr2rTgHhU4Ktxp1X76Yd2FqAmV3F8xE6E8AdoGdRlVnnkLh_47gZ5va5GOxI9Ht_Zj5bF69FkzfeMsW77ORENJf15h56Is-fkrBwo7bGW3YABXPyFSyiG9Jlw-X39HGdE9CBFLhDHnQK1ITC8zY9u1h6auOL-p4wspPPuyN0Rh6-gXRPWVjJV-E3jA0TvDYSMTRLiHsfKfejmQeKrP_ERLoWQ-Phl5iPnQQRcBHhYu4YM9IKTNnQWAV_AWIkZw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBkcR1rXmXOvt881GeXl-AkCwpxea34eGkMhxQU1ABy9qHrbELkr40CAoZEXUm4-PrLJEGEU2aErcWLrc_OAF6uks2V6TAi69G6JDnhbi_Ek6ItORJWj-xxs",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBkcR1rXmXOvt881GeXl-AkCwpxea34eGkMhxQU1ABy9qHrbELkr40CAoZEXUm4-PrLJEGEU2aErcWLrc_OAF6uks2V6TAi69G6JDnhbi_Ek6ItORJWj-xxs
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"NizmOPWToee4wNI8xvktIxdpesg=/JHNbeKtAoktC1veenPtaBHG8FPE="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:07:20 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBtEQyfSD4IQIJDZMugwOyGNq2ghRBvb_5kMC9HTkyJs6St-Tq1rcnYnbl7nTzTe5bryTuSPurxDeOCJ2SNFIJTMmDSkPkBtAuVLBF0am7M31_1oW559olVg
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:20 GMT
recorded_with: VCR 4.0.0
