---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNTIxLCJpYXQiOjE1MzMxNzI0MDEsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.QHbfaHDNzlYcW-ItLvgmx6rVa2XZgW-F9jYwUM8ulf_9X-FFOlFzEIRaIgMjRU3_uCtUpxvtTnIt5TyFvhV8BQCh7la_90KQ3O19RrFAcJVCfgRiYju7tV2orKj2r6TJRJkfwdv-T1OCFhf2CstX9JALFWaRLUjfo2hg_dj-qSKrTvBWCNin4rWZS7xGuzDpniZ1dvXPg_WCSjF6ohXqW-w3Whd-Gc7rDeowW7cE_B79Yn6KWCXSfHWRBcQdGtcz314r_vKy8uBQKGiZIT0ZszplzjEjO82JphsAwgY9YrR9PI9OUvv2flXeyB9MoK7MD4JWAiGhhYOoVqyjQYf6JQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBrqGoG8OaTNeaLRegQRyf_oqMBZ3xc8hDygib6JzmYq8TqOA911UnShdVvIRP44AweN09uJrjDnR9RJnaPhWOk7N3QGQQI06u6f1FFUWmDX0VNSl6KNIZ7s",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:14:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrqGoG8OaTNeaLRegQRyf_oqMBZ3xc8hDygib6JzmYq8TqOA911UnShdVvIRP44AweN09uJrjDnR9RJnaPhWOk7N3QGQQI06u6f1FFUWmDX0VNSl6KNIZ7s
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"opRIT9hdkIY7tF4R2Ys1Uq4ay5w=/4N8sTkx59OHSLhiGGNAU3pRHii0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrqGoG8OaTNeaLRegQRyf_oqMBZ3xc8hDygib6JzmYq8TqOA911UnShdVvIRP44AweN09uJrjDnR9RJnaPhWOk7N3QGQQI06u6f1FFUWmDX0VNSl6KNIZ7s
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/subnetworks/servers' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/subnetworks/servers' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:14:21 GMT
recorded_with: VCR 4.0.0
