---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDUzLCJpYXQiOjE1MzMxNzIzMzMsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.ifq0S-FiRw9kRqyPbX7t5tgdEXVUKp4nP0Mu7Qq82q2anGlms6xg0Hl7b0OcrBoQpSEkmvGIjswvPx_tZlptim2x58K97oQKV1p-gyCPITUmGZTNp9Gbgt09DCS5SlduoUb0c1r7qKpQ8QSgiXUsoiKOmtV6Kag2Gmn5T_mCUh8ncPqbydCqlpKDFvd7sYyP8V25NIlL9vNkjWkhOYm7vp_X7pAICW1ef4TyhDUOliljCswfrO850GJRSTFLarVmfS1Le-14fSXR9LuBGam7aMDKffx9_KJkiKU06jAhdNu8ehttoVzliQuSmat-_QtjP8ciokA3i139iwJQ1JKXPQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBp-dDWuX25bcfkbpZzBNpkZIgDwuxTBJdd5szoBkJfiWh8_A6oOM5YYnHCiaCh1gOBlSTcYIji5i-vR1eLOGyi8s0teL-i_Wzxen5ElRFdrH9GeWfVQWlkc",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:13:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBp-dDWuX25bcfkbpZzBNpkZIgDwuxTBJdd5szoBkJfiWh8_A6oOM5YYnHCiaCh1gOBlSTcYIji5i-vR1eLOGyi8s0teL-i_Wzxen5ElRFdrH9GeWfVQWlkc
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"YnYWchHmVJvR521164IMwnzoDno=/Tfj6isD6Iil2vQ5djmx1aK6B094="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "5347685549388851554",
         "creationTimestamp": "2018-08-01T17:59:57.163-07:00",
         "name": "my-network",
         "IPv4Range": "10.240.0.0/16",
         "gatewayIPv4": "10.240.0.1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network",
         "routingConfig": {
          "routingMode": "REGIONAL"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:13:13 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBp-dDWuX25bcfkbpZzBNpkZIgDwuxTBJdd5szoBkJfiWh8_A6oOM5YYnHCiaCh1gOBlSTcYIji5i-vR1eLOGyi8s0teL-i_Wzxen5ElRFdrH9GeWfVQWlkc
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3ofjdCcLH_0TmxD63jNZq5ERHDM=/59wXn5M3lPskFMeyfRlaz19j-II="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#route",
         "id": "289688768901801039",
         "creationTimestamp": "2018-08-01T18:13:04.597-07:00",
         "name": "corp-route",
         "description": "",
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network",
         "tags": [
          "backends",
          "databases"
         ],
         "destRange": "192.168.6.0/24",
         "priority": 1000,
         "nextHopGateway": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/gateways/default-internet-gateway",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:14 GMT
recorded_with: VCR 4.0.0
