---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDM4LCJpYXQiOjE1MzMxNzIzMTgsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.3mN5uk9AwKCEVVhr-nlq-yCivCTA_0aGPRtznendnGgOV4Xu1-P70D3arWsBr-tElcjOXD0j1LKkF6Z07sdL75wRkQ9-fl3lJhjp5pKUKbED0g5ep0bWD9lPpwh_0Xf_SM_Yyw9yxeFydZTeXb_X7EhgzqxRxhzhB_urakerWp4n0pPsfVtSQGq_rgL3_7IA-U_CXSHJUnsff7bs9i2R3hN0i9R-kAtZZYuwgA-YGHYxcZgTmnuJsJQFMnLJBdGJzcoERpBQUBs7nVRRh5Bq-ua-ki9xTT6eWvs3t58nurJcH-9P2IDgSV-qS_287ZqukXbiohRweSN9pug-FK5L2w
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBgZPmUDN2qfVgex4e4vaAGC4HmtR1NcZZ_V9xbtVJhjPzlcz2vG6_iTsii5UuMIt67w9URQgwgZsmpRcSTZyGrDg-N6ZU9oImjv-CRYA1od-asCvJBUcoGE",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:12:58 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgZPmUDN2qfVgex4e4vaAGC4HmtR1NcZZ_V9xbtVJhjPzlcz2vG6_iTsii5UuMIt67w9URQgwgZsmpRcSTZyGrDg-N6ZU9oImjv-CRYA1od-asCvJBUcoGE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Qk9QhnZQ5dIaW9dStp_W0zAabhU=/w7pEIJJrmUC3LyUx-hndB4aoVRQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:12:58 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgZPmUDN2qfVgex4e4vaAGC4HmtR1NcZZ_V9xbtVJhjPzlcz2vG6_iTsii5UuMIt67w9URQgwgZsmpRcSTZyGrDg-N6ZU9oImjv-CRYA1od-asCvJBUcoGE
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:12:58 GMT
recorded_with: VCR 4.0.0
