---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTQ1LCJpYXQiOjE1MzMxNzIwMjUsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.Gh02d4J-3w0GUd3K8cACKPT1OTk8R6sh95c8z8NHNWLf8MShrHpOMU6NQIqZVY4yxfXm3GZyjzLXWq1hSZymSj4Mele74hvvGilpdc_wOlNKWYlrREc8wce3tNFWcYLhxsRADUavJNYd2JU4b0gM_9f7vGjd0Wu9wdj89w0I2FL9OdoI-J2zM86wV1Yu8NclqD8jvhpbaJ2TQJX2LDCTggUT-oWcmzFBf_DdyHzwWj4DTZw7HJE9kUEk1ZUm02361vTeHEmsEP6xxXI_rRT0QqrffgJouu1dnR4IiRrmr9yUNl4n-aYLHboI4EheFivdiyTuqQZKqFdijKUm-_Ve6Q
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBqtQanP30TrOki58PVhb69zyY19wvi0Eq65Cs1tt-bnJycGAlBKZkn3UXzMVoLrsI4dF_XTWGpnePW8fUI1KgfVSsDFif83HSDlVbaK9D5BNqmUHc8z3rbk",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:08:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpsHealthChecks/my-app-https-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqtQanP30TrOki58PVhb69zyY19wvi0Eq65Cs1tt-bnJycGAlBKZkn3UXzMVoLrsI4dF_XTWGpnePW8fUI1KgfVSsDFif83HSDlVbaK9D5BNqmUHc8z3rbk
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - YOZPlnDMDKF_EcD6qij9j5KgG8c=/c0qAskwivilDEN4wBIPnnk-ZzI0=
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id": "3428265107188082587",
          "creationTimestamp": "2018-08-01T18:08:04.169-07:00",
          "name": "my-app-https-hc",
          "description": "",
          "host": "",
          "requestPath": "/",
          "port": 8080,
          "checkIntervalSec": 5,
          "timeoutSec": 2,
          "unhealthyThreshold": 5,
          "healthyThreshold": 10,
          "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpsHealthChecks/my-app-https-hc",
          "kind": "compute#httpsHealthCheck"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:06 GMT
recorded_with: VCR 4.0.0
