---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMDc5LCJpYXQiOjE1MzMxNzE5NTksInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.zANwIqZoDBN5mvkxJ7wjtJHxoakfmW53dYbFnb_hzajCGDVqh9q-lKaB2krqswtkbSYDn8qgXf98kBBNI7ZbCIy6Xi_Yp5l3IyXyreo9aLGzRjmmrXEuw1al9Hh-eZ4xmARWyR3N4VaNsw4JxedfpvRMqUlfrWVmCs8SwQwm-mNQX_urCy01OBOBW9TrWOdQwhaSJPypT07FRdFPEC25mxiPmn9JTDdP8XfGrh0fru_xlSrDUWKz5tqh7n9oKYFg8OW-L73dcNMjEO9nz_aJI_NG9HQ4RlVosPd_Mie-V4hC2-ySLbMqquIOg79g9nErjBFSE-UXRePMdpqnB9_gzA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBo8N2Ja3SFd2oomx575Umzet3C7IVCGSfX4l4RBCygx29t5xDysi1WzkVtRf4HekndK6yJAnMN7tsQjHiS1zhPHwDHlWShnvw_eiJtYt5OCeZPArmjanrFg",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:06:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBo8N2Ja3SFd2oomx575Umzet3C7IVCGSfX4l4RBCygx29t5xDysi1WzkVtRf4HekndK6yJAnMN7tsQjHiS1zhPHwDHlWShnvw_eiJtYt5OCeZPArmjanrFg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"D_YNqPdT5xvt95FoWETQB2fObJ8=/8_xwTr6I9nO2u6fzLbKhf7AHXI0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 1.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBo8N2Ja3SFd2oomx575Umzet3C7IVCGSfX4l4RBCygx29t5xDysi1WzkVtRf4HekndK6yJAnMN7tsQjHiS1zhPHwDHlWShnvw_eiJtYt5OCeZPArmjanrFg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"BgvGd-CcE6XD9ZnFYqGvxABIxLs=/j-Fhge_j5PnmiTcBdPEomNSC4VQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#address",
         "id": "5128999017405999069",
         "creationTimestamp": "2018-08-01T18:06:58.103-07:00",
         "name": "test1",
         "description": "",
         "address": "35.203.156.232",
         "status": "RESERVED",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1",
         "networkTier": "PREMIUM"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:00 GMT
recorded_with: VCR 4.0.0
