---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNTI5LCJpYXQiOjE1MzMxNzI0MDksInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.gIh-Cmhev9RyQ4mM9Tnb428VjeygTKxgsvOrtNyw6V79w19g4crlmJbJB2xpo3NNrAIxIhuOFqNEidKBYbO-7xs6tuF0Oc_6XmcK4LxsdTddljSJXUQs7F1lNf7uNkL8traIePjjjRa4xz_KVPsJIVnIkbtBE71NEyuKx3xMVbHRbU_UmyB__R1IJAqFLFadAVND9bWL8U8dkI5Y3BxFkT0p8UgZw6cq4H5qQ0ezTHSENX17DroFHX04WANx3Weg9EIhMZxyEYLVjeMn8XajKNcOtsg9NIqd_cNh469fr3uTi2C5J82in3_wOMg0J0onn31ssauhNHUrvjgQTvCrrQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBnEkLvRcje6S9bzSviGF70etfomYM3J5A64-iYf6TdSA8biHxO__vKPoeUthI_lCGbv1QtxvDlWrVff6fy2Yj6t1fj2HLxD_3pGGXcsNxOMeFose5LPlLLA",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:14:29 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBnEkLvRcje6S9bzSviGF70etfomYM3J5A64-iYf6TdSA8biHxO__vKPoeUthI_lCGbv1QtxvDlWrVff6fy2Yj6t1fj2HLxD_3pGGXcsNxOMeFose5LPlLLA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2mrBPcRZXVsNmc8pNRfEnf1fkMA=/zg9uegentx0CJmGBd47zJcnJv0A="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBnEkLvRcje6S9bzSviGF70etfomYM3J5A64-iYf6TdSA8biHxO__vKPoeUthI_lCGbv1QtxvDlWrVff6fy2Yj6t1fj2HLxD_3pGGXcsNxOMeFose5LPlLLA
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/targetPools/test1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/targetPools/test1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:14:29 GMT
recorded_with: VCR 4.0.0
