---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDMxLCJpYXQiOjE1MzMxNzIzMTEsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.xOIdOSOopPtce6FXtQJ63y020Z1yMyD46uaza2FYRRSr0AfEsbJ3v39y6EqiH0-ZmdEaSF8GoE0ozjcgrLADwnA7I2L6ZUoppmTYMLKzpxfUYp4-O1iFq-HrjIAU0LNS6BPkpncqZkZcFuEA3PJUBTk_BgRS09xm9i5bOlsvSgJbjbuY53O6B3rOoee-OLuUF02Y1OInJvgIoaSKqN6aaJhNLjvAtm02JvKRdLj5YMARzVYSOY64RsumoYHUMJEYZmEqvuAuBRI-TPMIh_mu0VuC9dqo8hYnUtMzYi2iiQ169VwcDTwyEVx6RMqU1OnfQ9nfl3HoEv-VtSUqheGZ5A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBi2g-Y5AD7dTSg4M-3Dsb2Y_q97ALxMiDok-C8V6_8IAG_XfFIBgC7O84ImfXsBathRNA-X1MS-j4H34xUAJH8rbD9us1A6sdzBbAx3YQZUAClke0X5rKZA",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:12:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBi2g-Y5AD7dTSg4M-3Dsb2Y_q97ALxMiDok-C8V6_8IAG_XfFIBgC7O84ImfXsBathRNA-X1MS-j4H34xUAJH8rbD9us1A6sdzBbAx3YQZUAClke0X5rKZA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"QAEBj0J4njyZ8_yNeNU5Atk-eR8=/iuoK0ZviNwLzVtqpTj46oXeRkgI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:12:51 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBi2g-Y5AD7dTSg4M-3Dsb2Y_q97ALxMiDok-C8V6_8IAG_XfFIBgC7O84ImfXsBathRNA-X1MS-j4H34xUAJH8rbD9us1A6sdzBbAx3YQZUAClke0X5rKZA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"G_P5FepJSiW1Kgr3HVjIuRx6T78=/AR0JPu4E_N74nDUYf-vR0WTROPQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "5347685549388851554",
         "creationTimestamp": "2018-08-01T17:59:57.163-07:00",
         "name": "my-network",
         "IPv4Range": "10.240.0.0/16",
         "gatewayIPv4": "10.240.0.1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network",
         "routingConfig": {
          "routingMode": "REGIONAL"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:12:51 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBi2g-Y5AD7dTSg4M-3Dsb2Y_q97ALxMiDok-C8V6_8IAG_XfFIBgC7O84ImfXsBathRNA-X1MS-j4H34xUAJH8rbD9us1A6sdzBbAx3YQZUAClke0X5rKZA
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:12:51 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instanceGroups
    body:
      encoding: UTF-8
      string: '{"kind":"compute#instanceGroup","name":"my-puppet-masters","namedPorts":[{"name":"puppet","port":8140}],"network":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network"}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBi2g-Y5AD7dTSg4M-3Dsb2Y_q97ALxMiDok-C8V6_8IAG_XfFIBgC7O84ImfXsBathRNA-X1MS-j4H34xUAJH8rbD9us1A6sdzBbAx3YQZUAClke0X5rKZA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "1514457027602015355",
         "name": "operation-1533172371793-572698299a469-19a23d2e-552a318f",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "compute.instanceGroups.insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters",
         "targetId": "6388810807627474043",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:12:52.432-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172371793-572698299a469-19a23d2e-552a318f"
        }
  recorded_at: Thu, 02 Aug 2018 01:12:52 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172371793-572698299a469-19a23d2e-552a318f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsaL0y1O2XFy287-S7nE4FPrYUZlfSROwjOT0FjNZyQHuwCPHGfvTIrmyDk1jnVs4aciFzKraI9z7vpuM51nTsMjnNFjs6RY3GtSgOP93AXPt7gFGMAcM7Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"tutvluqHDciJrMk1vGR6EeEUJNw=/77MNY5alBk0DDVAbSZnn7sAhspo="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "1514457027602015355",
         "name": "operation-1533172371793-572698299a469-19a23d2e-552a318f",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "compute.instanceGroups.insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters",
         "targetId": "6388810807627474043",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:12:52.432-07:00",
         "startTime": "2018-08-01T18:12:53.388-07:00",
         "endTime": "2018-08-01T18:12:53.636-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172371793-572698299a469-19a23d2e-552a318f"
        }
  recorded_at: Thu, 02 Aug 2018 01:12:53 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsaL0y1O2XFy287-S7nE4FPrYUZlfSROwjOT0FjNZyQHuwCPHGfvTIrmyDk1jnVs4aciFzKraI9z7vpuM51nTsMjnNFjs6RY3GtSgOP93AXPt7gFGMAcM7Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"kFwKhomiyzuMIY0dhieyhOQVhyc=/-kRn_YL4Zk_-3Hc2_iwscBv8g8I="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#instanceGroup",
         "id": "6388810807627474043",
         "creationTimestamp": "2018-08-01T18:12:52.420-07:00",
         "name": "my-puppet-masters",
         "description": "",
         "namedPorts": [
          {
           "name": "puppet",
           "port": 8140
          }
         ],
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network",
         "fingerprint": "4k4b3RbbPfc=",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instanceGroups/my-puppet-masters",
         "size": 0
        }
  recorded_at: Thu, 02 Aug 2018 01:12:54 GMT
recorded_with: VCR 4.0.0
