---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDQzLCJpYXQiOjE1MzMxNzIzMjMsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.JSj0RmBRTcrqanMIvHJJkgyyBk8ft2faQPy7B7p8F2iUm4CiVRGe8zBOQSFHRmC74pxxCM9o4-AprryTtf6ql0O-FfozR9rYFAeR9pqxjWGpokDbz0KcbW8hxWq42f0WRIJduYKePdi1HSS56KceiJiI4N7Fwu7itVXynB7U9x8PIRV-VgDeeRph7A5OF9vAQzpaGWWHGsF7kMz8ocGOaVo6q9Phv6T4pR9uyJHYixiKu0p58dejsgc9XfmvJv7LzkltLaWXt7BgbR0eY-EHTTVFgGLuEEYVGlPmzKkjTqF9Xh5Kjm2IxTvUxB27HP-vJGRtT8lE5u3FY1D2cnrJRA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBsnlL66Ih8X6B2sOrZNPUSNLTUxWn1vHSU92tx06JaKlk3U5jMGLfdaRM76Cs8RtDmsoAEg70V5P2jegd2Dm2gsBTZRP2VoWrfljvGcR8kK5fElbSjnf1pQ",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:13:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsnlL66Ih8X6B2sOrZNPUSNLTUxWn1vHSU92tx06JaKlk3U5jMGLfdaRM76Cs8RtDmsoAEg70V5P2jegd2Dm2gsBTZRP2VoWrfljvGcR8kK5fElbSjnf1pQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"V6GvhZLrXWC2t8UZ7s0_IaHqLMs=/_sCFCe1PhBn0SlUZGOwDjucDLwQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "5347685549388851554",
         "creationTimestamp": "2018-08-01T17:59:57.163-07:00",
         "name": "my-network",
         "IPv4Range": "10.240.0.0/16",
         "gatewayIPv4": "10.240.0.1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network",
         "routingConfig": {
          "routingMode": "REGIONAL"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:13:03 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsnlL66Ih8X6B2sOrZNPUSNLTUxWn1vHSU92tx06JaKlk3U5jMGLfdaRM76Cs8RtDmsoAEg70V5P2jegd2Dm2gsBTZRP2VoWrfljvGcR8kK5fElbSjnf1pQ
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/routes/corp-route' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/routes/corp-route' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:13:03 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes
    body:
      encoding: UTF-8
      string: '{"kind":"compute#route","destRange":"192.168.6.0/24","name":"corp-route","network":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network","tags":["backends","databases"],"nextHopGateway":"global/gateways/default-internet-gateway"}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsnlL66Ih8X6B2sOrZNPUSNLTUxWn1vHSU92tx06JaKlk3U5jMGLfdaRM76Cs8RtDmsoAEg70V5P2jegd2Dm2gsBTZRP2VoWrfljvGcR8kK5fElbSjnf1pQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6652974557874349135",
         "name": "operation-1533172383918-572698352a7b1-0202730b-e37734ca",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route",
         "targetId": "289688768901801039",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:13:04.644-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172383918-572698352a7b1-0202730b-e37734ca"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:04 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172383918-572698352a7b1-0202730b-e37734ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgbqj7QeFGGeg9HVr_xKIapzCjZBLd2vfKJ36pJ6Lio3BcniYSRpfCXGk1j6fHAVwa5R9mrnOLsh7N6AGSIbsag06zpitZuGNpHrO9NB6jihFm-cSEs3ps8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gJooPDJKg5G-bUaKsFp2U6QPg0s=/CPLiZ1G52STwgzZJ1PzY3ebn9kE="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6652974557874349135",
         "name": "operation-1533172383918-572698352a7b1-0202730b-e37734ca",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route",
         "targetId": "289688768901801039",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:13:04.644-07:00",
         "startTime": "2018-08-01T18:13:05.317-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172383918-572698352a7b1-0202730b-e37734ca"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:06 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172383918-572698352a7b1-0202730b-e37734ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBp-dDWuX25bcfkbpZzBNpkZIgDwuxTBJdd5szoBkJfiWh8_A6oOM5YYnHCiaCh1gOBlSTcYIji5i-vR1eLOGyi8s0teL-i_Wzxen5ElRFdrH9GeWfVQWlkc
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"LbDXzcHcWTiEBE0d_Gaw7dFEVdU=/FbXaxOSi2dcvA_uig3Kd9a-N7dY="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6652974557874349135",
         "name": "operation-1533172383918-572698352a7b1-0202730b-e37734ca",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route",
         "targetId": "289688768901801039",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:13:04.644-07:00",
         "startTime": "2018-08-01T18:13:05.317-07:00",
         "endTime": "2018-08-01T18:13:13.150-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172383918-572698352a7b1-0202730b-e37734ca"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:13 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBp-dDWuX25bcfkbpZzBNpkZIgDwuxTBJdd5szoBkJfiWh8_A6oOM5YYnHCiaCh1gOBlSTcYIji5i-vR1eLOGyi8s0teL-i_Wzxen5ElRFdrH9GeWfVQWlkc
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"jaiXlJpnRBwWBCt39Rmr51eoWQk=/osF831BGY4_PjBzAFY5dpIqzCKI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#route",
         "id": "289688768901801039",
         "creationTimestamp": "2018-08-01T18:13:04.597-07:00",
         "name": "corp-route",
         "description": "",
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network",
         "tags": [
          "backends",
          "databases"
         ],
         "destRange": "192.168.6.0/24",
         "priority": 1000,
         "nextHopGateway": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/gateways/default-internet-gateway",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:13 GMT
recorded_with: VCR 4.0.0
