---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTIwLCJpYXQiOjE1MzMxNzIwMDAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.z4H58SUIRd5ENAfyU8yc_rcgESRwFaqE1aLzts9zi_tC8hyktQKAjpE7Yq6F8lA7SHujS6RkInapsBanJfpuWV-4ih3HlL6NI7U44dOhnEwGX-Wu2rOyxQdwc_2L5j3GtfDOyp1HxmHTFstzxEzyA8SW9CGKI838A3wegGPY3ACL4K6S4cJDF6R1R1Jj9uuuTjCB52xHcwRy5cS4v_LBzAEA9LFEFRbABscyrvssmJVORTBPValpAUr1PUH9vRUIi8OoEHd2zvDyX-Wnt5Qn_xa_7xQMZIyYhGkBq0sCnsokuqiua7zG_FY188rqMDQo6D73DHGvo_GQ7ffqkNwEsQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBvwrri8alIYuUbWAgKiEgUANMO-OiKRiczx1YfBnisb9uow75dOqsrSnMcPTgcIglC16s0tNfnhBlLfvTrhJfHeT-bH90CmVfx8t3eiFv0Yb6G4AXJ0gVqU",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:40 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBvwrri8alIYuUbWAgKiEgUANMO-OiKRiczx1YfBnisb9uow75dOqsrSnMcPTgcIglC16s0tNfnhBlLfvTrhJfHeT-bH90CmVfx8t3eiFv0Yb6G4AXJ0gVqU
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/addresses/my-app-lb-address' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/addresses/my-app-lb-address' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:40 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses
    body:
      encoding: UTF-8
      string: '{"kind":"compute#address","name":"my-app-lb-address"}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBvwrri8alIYuUbWAgKiEgUANMO-OiKRiczx1YfBnisb9uow75dOqsrSnMcPTgcIglC16s0tNfnhBlLfvTrhJfHeT-bH90CmVfx8t3eiFv0Yb6G4AXJ0gVqU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3885180757681891250",
         "name": "operation-1533172060582-57269700cf071-936d94cb-044a19f7",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address",
         "targetId": "6112103755716487090",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:41.109-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172060582-57269700cf071-936d94cb-044a19f7"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:41 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172060582-57269700cf071-936d94cb-044a19f7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBoJkdg_XAUqX18aYTnxViSEoJexVvPsdj_1Zxw5zs_vmNUQES3MCun7_DWUdIowI0cPU_IWLn3d6nqsWCST6rFD8fvVj8uAggop44ShqwYiEh4Bse1_6_PE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"vw9qoPaG9AvgFXFCwkZapc7vy7A=/05233TKHyqAqGNbaiyJT_aU4vxw="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3885180757681891250",
         "name": "operation-1533172060582-57269700cf071-936d94cb-044a19f7",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address",
         "targetId": "6112103755716487090",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:41.109-07:00",
         "startTime": "2018-08-01T18:07:41.778-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172060582-57269700cf071-936d94cb-044a19f7"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:42 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172060582-57269700cf071-936d94cb-044a19f7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqKcLmr3eHg79Ju9YdqT8MJWViglfkVZG0-BiCCjqewBnJkQS2h8Pcz3bAabgP88bxKiShaMolEP0wDQ3ugjBVfVqDcohkgXzH_MIj9BMF5Rtr7hb8vYgd0
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"FBeg-TKbyCU08LSmXpXP_2GkpgY=/ZDectkmJs4Dfdexgi2M6pXWKACE="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3885180757681891250",
         "name": "operation-1533172060582-57269700cf071-936d94cb-044a19f7",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address",
         "targetId": "6112103755716487090",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:07:41.109-07:00",
         "startTime": "2018-08-01T18:07:41.778-07:00",
         "endTime": "2018-08-01T18:07:42.409-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172060582-57269700cf071-936d94cb-044a19f7"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:43 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqKcLmr3eHg79Ju9YdqT8MJWViglfkVZG0-BiCCjqewBnJkQS2h8Pcz3bAabgP88bxKiShaMolEP0wDQ3ugjBVfVqDcohkgXzH_MIj9BMF5Rtr7hb8vYgd0
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"UiXKB8uv4swqVp_lLAkHfwKaMqA=/Cm1oNeycEWJQJsj9yN-n-4YtX60="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#address",
         "id": "6112103755716487090",
         "creationTimestamp": "2018-08-01T18:07:41.104-07:00",
         "name": "my-app-lb-address",
         "description": "",
         "address": "130.211.32.208",
         "status": "RESERVED",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address",
         "networkTier": "PREMIUM"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:43 GMT
recorded_with: VCR 4.0.0
