---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTU1LCJpYXQiOjE1MzMxNzIwMzUsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.xm0pqNWshoaiQtNEUwmAH4cs0PafvedOQ6NNpr4BBIjLuY_SHzTGrAToF2uUTkTscitMgZXCywgJ0yAaIlNTElX9vusOMGJeSznHfnbHgcwOdpYcx5oM30y43dPy1KRa10HRIGNaQ9_fEAKB5mkIM1NuFElaZG6hgKwB5aTK-DXsA4arjDq7g2-88Q9IXyq97SzE_zuv7oMZgMHydb4nJmqUyXOB3ri650lhMUVw8f4qGNmj2Js2fCPftPKTZhkhy9KnvjxVIoXThDrEOEQMLa8wATbXBbwsa_eTI04oR4N0nFYhwJY0Yox-X55ZeZ4KfRXzcui5ic7mlBolgy6B3Q
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.EloLBsXjg69WK3QuxjVcVqJ1TlWoZ-VFjAzo2tmKtfn7bymxQfVm_LDWLyvLjudhCoHZPQOFNu3_ZTvYe8my2HMnnaC4QVZQDdyIfihs3pC_8wTnbdWNYlhoQps",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsXjg69WK3QuxjVcVqJ1TlWoZ-VFjAzo2tmKtfn7bymxQfVm_LDWLyvLjudhCoHZPQOFNu3_ZTvYe8my2HMnnaC4QVZQDdyIfihs3pC_8wTnbdWNYlhoQps
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"otmUPgNIfUUdgXgl8SW90Ol6Xjk=/lFzUsuDllGA6nhDv7CsIjAJ6CLQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:08:15 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsXjg69WK3QuxjVcVqJ1TlWoZ-VFjAzo2tmKtfn7bymxQfVm_LDWLyvLjudhCoHZPQOFNu3_ZTvYe8my2HMnnaC4QVZQDdyIfihs3pC_8wTnbdWNYlhoQps
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:08:15 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks
    body:
      encoding: UTF-8
      string: '{"kind":"compute#disk","name":"instance-test-os-1","sizeGb":50,"sourceImage":"projects/ubuntu-os-cloud/global/images/family/ubuntu-1604-lts"}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsXjg69WK3QuxjVcVqJ1TlWoZ-VFjAzo2tmKtfn7bymxQfVm_LDWLyvLjudhCoHZPQOFNu3_ZTvYe8my2HMnnaC4QVZQDdyIfihs3pC_8wTnbdWNYlhoQps
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3752698312433592175",
         "name": "operation-1533172096007-5726972297b59-c8ecf47a-b73626d0",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "targetId": "4345021521422444399",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:08:16.844-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172096007-5726972297b59-c8ecf47a-b73626d0"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:16 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172096007-5726972297b59-c8ecf47a-b73626d0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBg-egZ66K8TVWwL2fYa7WaygmDz79JPgO2n4lnifKa-NuEUnH9nVML0wbG5v5uVgG8q_x6wEfjXaxy1LigTNhcJ0lKI0uLWgojYdxUKg2_rzeJjVy-FgXgI
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"S-36uekULL9H6seJu9btcIWXOtI=/_RPtmgpz1S_8uWueqzhGymjK7qc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3752698312433592175",
         "name": "operation-1533172096007-5726972297b59-c8ecf47a-b73626d0",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "targetId": "4345021521422444399",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:08:16.844-07:00",
         "startTime": "2018-08-01T18:08:17.364-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172096007-5726972297b59-c8ecf47a-b73626d0"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:18 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172096007-5726972297b59-c8ecf47a-b73626d0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm2JazbmsZZj7yqz-lzbVqllZDe-h68I6drHvi-W0tD1j0gUr71OkuQS2OQdslWXGNtDhhR7BEBfXtylN94mfR-xWlRmcrNR5LWWaogIWVNjVbWRKh6oJ98
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1K7mb9pwEqWhgi3ZMrvv0yKZ2Qc=/vPNlvepIAXjXKQYY8R_NTOpwg70="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3752698312433592175",
         "name": "operation-1533172096007-5726972297b59-c8ecf47a-b73626d0",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "targetId": "4345021521422444399",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:08:16.844-07:00",
         "startTime": "2018-08-01T18:08:17.364-07:00",
         "endTime": "2018-08-01T18:08:18.520-07:00",
         "warnings": [
          {
           "code": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
           "message": "Disk size: '50 GB' is larger than image size: '10 GB'. You might need to resize the root repartition manually if the operating system does not support automatic resizing. See https://cloud.google.com/compute/docs/disks/persistent-disks#repartitionrootpd for details.",
           "data": [
            {
             "key": "disk_size_gb",
             "value": "50"
            },
            {
             "key": "image_size_gb",
             "value": "10"
            }
           ]
          }
         ],
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172096007-5726972297b59-c8ecf47a-b73626d0"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:19 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm2JazbmsZZj7yqz-lzbVqllZDe-h68I6drHvi-W0tD1j0gUr71OkuQS2OQdslWXGNtDhhR7BEBfXtylN94mfR-xWlRmcrNR5LWWaogIWVNjVbWRKh6oJ98
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"s9D1-A0K2_Hd7s7Bx13t0dOAIec=/QiM2JPEON7swSynSvKxuNruJTMA="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#disk",
         "id": "4345021521422444399",
         "creationTimestamp": "2018-08-01T18:08:16.810-07:00",
         "name": "instance-test-os-1",
         "sizeGb": "50",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "status": "READY",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "sourceImage": "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-1604-xenial-v20180724",
         "sourceImageId": "6243803748120370197",
         "type": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/diskTypes/pd-standard",
         "licenses": [
          "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
         ],
         "guestOsFeatures": [
          {
           "type": "VIRTIO_SCSI_MULTIQUEUE"
          }
         ],
         "labelFingerprint": "42WmSpB8rSM=",
         "licenseCodes": [
          "1000201"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:08:19 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm2JazbmsZZj7yqz-lzbVqllZDe-h68I6drHvi-W0tD1j0gUr71OkuQS2OQdslWXGNtDhhR7BEBfXtylN94mfR-xWlRmcrNR5LWWaogIWVNjVbWRKh6oJ98
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"X7iAgfhOcTMhLC9u3dY4Bk9Hfs4=/I1ovMbaDDKbfOATXSR4zGBt1wb0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "1942981909161036014",
         "creationTimestamp": "2017-11-30T13:20:01.581-08:00",
         "name": "default",
         "description": "Default network for the project",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
         "autoCreateSubnetworks": true,
         "subnetworks": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/europe-west4/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/northamerica-northeast1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/asia-south1/su[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm2JazbmsZZj7yqz-lzbVqllZDe-h68I6drHvi-W0tD1j0gUr71OkuQS2OQdslWXGNtDhhR7BEBfXtylN94mfR-xWlRmcrNR5LWWaogIWVNjVbWRKh6oJ98
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"rhLMIWQigMzx52spyYqsH0Fh9VY=/dHrjr3RHVJiKyUHrRzrPSSkQjlU="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1",
         "description": "us-central1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-c",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-f"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 1.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 560.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 3.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm2JazbmsZZj7yqz-lzbVqllZDe-h68I6drHvi-W0tD1j0gUr71OkuQS2OQdslWXGNtDhhR7BEBfXtylN94mfR-xWlRmcrNR5LWWaogIWVNjVbWRKh6oJ98
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PNH-DJ9EIF-6br0rJh_jD4EdjI8=/3kHI_426JH-8eLbBhGP-DZgzEfI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#machineType",
         "id": "3001",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "n1-standard-1",
         "description": "1 vCPU, 3.75 GB RAM",
         "guestCpus": 1,
         "memoryMb": 3840,
         "imageSpaceGb": 10,
         "maximumPersistentDisks": 32,
         "maximumPersistentDisksSizeGb": "65536",
         "zone": "us-central1-a",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "isSharedCpu": false
        }
  recorded_at: Thu, 02 Aug 2018 01:08:20 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBo_zURw2MxXl2d7pZ0t57ku_O8BmAnyJCtRTuIM81JNWZ7Mr0v7zagECk5DCEaywgq9rE8HJcaxtoSWjGu7R7B4MAGgJzJ-sPreWT8C_xpEgSzjmDwfiWS4
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bnU5Qg3X2mUbqpu3vTmSwLasU5k=/aayhrScErrZrRwxgQOqxECJf5aU="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#address",
         "id": "8653093024631897164",
         "creationTimestamp": "2018-06-28T17:51:47.540-07:00",
         "name": "instance-test-ip",
         "description": "",
         "address": "35.188.52.167",
         "status": "RESERVED",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip",
         "networkTier": "PREMIUM"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:20 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBo_zURw2MxXl2d7pZ0t57ku_O8BmAnyJCtRTuIM81JNWZ7Mr0v7zagECk5DCEaywgq9rE8HJcaxtoSWjGu7R7B4MAGgJzJ-sPreWT8C_xpEgSzjmDwfiWS4
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:08:20 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances
    body:
      encoding: UTF-8
      string: '{"kind":"compute#instance","disks":[{"autoDelete":true,"boot":true,"source":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1"}],"metadata":{"items":[{"key":"startup-script-url","value":"gs://graphite-playground/bootstrap.sh"},{"key":"cost-center","value":"12345"}]},"machineType":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1","name":"instance-test","networkInterfaces":[{"accessConfigs":[{"name":"External
        NAT","natIP":"35.188.52.167","type":"ONE_TO_ONE_NAT"}],"network":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default"}]}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBo_zURw2MxXl2d7pZ0t57ku_O8BmAnyJCtRTuIM81JNWZ7Mr0v7zagECk5DCEaywgq9rE8HJcaxtoSWjGu7R7B4MAGgJzJ-sPreWT8C_xpEgSzjmDwfiWS4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "1198307882262587242",
         "name": "operation-1533172100566-57269726f0bf1-8e36dede-4495b461",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "targetId": "153719909720778603",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:08:21.778-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172100566-57269726f0bf1-8e36dede-4495b461"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:21 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBj9chXLzOxYp_hNa1DZa7g9NGREhJlAG7UBApjKinMuluU5NRRQjomkrml9n7zaA35h-JK0iht26ZDLaH8cwECyXFg7Zo91BcyXDOgaKuNw8L7VkrdH5q70
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"oUfSbCjN8IconRUwar1nFagkKbI=/RlooXFec0nxO27I6dAka2sUr2WM="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#instance",
         "id": "153719909720778603",
         "creationTimestamp": "2018-08-01T18:08:21.596-07:00",
         "name": "instance-test",
         "tags": {
          "fingerprint": "42WmSpB8rSM="
         },
         "machineType": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "status": "RUNNING",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "networkInterfaces": [
          {
           "kind": "compute#networkInterface",
           "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
           "subnetwork": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
           "networkIP": "10.128.0.3",
           "name": "nic0",
           "accessConfigs": [
            {
             "kind": "compute#accessConfig",
             "type": "ONE_TO_ONE_NAT",
             "name": "External NAT",
             "natIP": "35.188.52.167",
             "networkTier": "PREMIUM"
            }
           ],
           "fingerprint": "itHulOyB9y8="
          }
         ],
         "disks": [
          {
           "kind": "compute#attachedDisk",
           "type": "PERSISTENT",
           "mode": "READ_WRITE",
           "source": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
           "deviceName": "persistent-disk-0",
           "index": 0,
           "boot": true,
           "autoDelete": true,
           "licenses": [
            "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
           ],
           "interface": "SCSI",
           "guestOsFeatures": [
            {
             "type": "VIRTIO_SCSI_MULTIQUEUE"
            }
           ]
          }
         ],
         "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "kZvH-xYpACI=",
          "items": [
           {
            "key": "startup-script-url",
            "value": "gs://graphite-playground/bootstrap.sh"
           },
           {
            "key": "cost-center",
            "value": "12345"
           }
          ]
         },
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false
         },
         "cpuPlatform": "Intel Sandy Bridge",
         "labelFingerprint": "42WmSpB8rSM=",
         "startRestricted": false,
         "deletionProtection": false
        }
  recorded_at: Thu, 02 Aug 2018 01:08:27 GMT
recorded_with: VCR 4.0.0
