---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTM2LCJpYXQiOjE1MzMxNzIwMTYsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.qIHSRC76UW6rk9q4H5i_cFQPMLw3TDH4YifwS3a_NjvyV20DsSPrSVaX-7hrOXynjQt-yZi84WIcUNFdUI7dxKP1Gwm1h487nBwz2-Wl3Xcs2hpRhtrc-O7XK6POrHzWYWnzhKsjgiLZiRIRXuLkghbzBMbMAjGJJKRlZLpP4gt4aYrEixlx6gYTutunIy0YTTQ4scs6BfT9vkBw_mHQl16Tv8019-e1JtTZmOIHIpqmK-gL-VdH2YFXP0-vO7bizJVHLTgVFPE_4FEKy01Ee_x-B6xBrq-u3-_WZNzTsjgQJkdX3k6gUIhkfEccctF2yrJqLpFBT631uktxkGk4zQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBs_eDbi9jzMwz1Xz-X4PNQBe3YTYVR37RLSWDhJVTy0YzlSiqojkpC3Blj67aD44DO90CJHhDg4c8WsC-NV-UKcMmVU28cDUFuni7JYnEeJTV9KMNFZebEs",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpHealthChecks/my-app-http-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBs_eDbi9jzMwz1Xz-X4PNQBe3YTYVR37RLSWDhJVTy0YzlSiqojkpC3Blj67aD44DO90CJHhDg4c8WsC-NV-UKcMmVU28cDUFuni7JYnEeJTV9KMNFZebEs
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/httpHealthChecks/my-app-http-hc' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/httpHealthChecks/my-app-http-hc' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:56 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpHealthChecks
    body:
      encoding: UTF-8
      string: '{"kind":"compute#httpHealthCheck","checkIntervalSec":5,"healthyThreshold":10,"name":"my-app-http-hc","port":8080,"timeoutSec":2,"unhealthyThreshold":5}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBs_eDbi9jzMwz1Xz-X4PNQBe3YTYVR37RLSWDhJVTy0YzlSiqojkpC3Blj67aD44DO90CJHhDg4c8WsC-NV-UKcMmVU28cDUFuni7JYnEeJTV9KMNFZebEs
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "1189203556617414530",
         "name": "operation-1533172076898-572697105e6d3-d03cc522-3624de52",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpHealthChecks/my-app-http-hc",
         "targetId": "1794963407583045506",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:57.526-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172076898-572697105e6d3-d03cc522-3624de52"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:57 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172076898-572697105e6d3-d03cc522-3624de52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBj_X9xN6r0nuSn0acZI1-pPeYUfJSk9h69B8o3hsfKphm11FZ9UReg_slQu24YpbXSPUEYSixOCPbBNutrfpaCStrHfhMZSUnzz02RvX6Fhcady8RFuPOd8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"WPIfdfJgjrCJkl9HSda8F2taJLQ=/6QG5Cc2J5n0AlLhyd84NQFKUyMY="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "1189203556617414530",
         "name": "operation-1533172076898-572697105e6d3-d03cc522-3624de52",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpHealthChecks/my-app-http-hc",
         "targetId": "1794963407583045506",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:07:57.526-07:00",
         "startTime": "2018-08-01T18:07:58.251-07:00",
         "endTime": "2018-08-01T18:07:58.254-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172076898-572697105e6d3-d03cc522-3624de52"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:58 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpHealthChecks/my-app-http-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBj_X9xN6r0nuSn0acZI1-pPeYUfJSk9h69B8o3hsfKphm11FZ9UReg_slQu24YpbXSPUEYSixOCPbBNutrfpaCStrHfhMZSUnzz02RvX6Fhcady8RFuPOd8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"h_lGr7fXde_ljtiSv1hoid9J2EA=/HAYOrGniN5r5F-8CKt96T6DJsEc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#httpHealthCheck",
         "id": "1794963407583045506",
         "creationTimestamp": "2018-08-01T18:07:57.519-07:00",
         "name": "my-app-http-hc",
         "description": "",
         "host": "",
         "requestPath": "/",
         "port": 8080,
         "checkIntervalSec": 5,
         "timeoutSec": 2,
         "unhealthyThreshold": 5,
         "healthyThreshold": 10,
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpHealthChecks/my-app-http-hc"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:59 GMT
recorded_with: VCR 4.0.0
