---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDY1LCJpYXQiOjE1MzMxNzIzNDUsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.Ps-IlPLrmuoHJ6MAuZx2gqUptjtEo0KlTmM8i5MXzpRjYs04QdUmFPy0KfS2ozdmHsxhiUt3dVzycp6t22knfb9KJOctOpSXbFi49SCIxGDeCmDvA_0gRA3afZbvEmNTj4M2p8XnLNzamRnOfa0sGnT6dDEngxgcaC5XGfpcKAy1ghlCzLMGiHXEeVMwS9cjnWDogDo_R66EE8L6XNe-K5XOMKqf1DqNwC8aXnBwKTC2w0KB-kZL35ecaAgLwQ4WEzWAQDsyQqDEcKsU7Doh0pgCklxklsjiSv_pnMG7vcIfSF594r3EsDZNvTV1Wl2Xw4UPUm5bthCrpQg4tXt1SQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBrnq_qJCPNHJqD3CMJ32Uiw98qcOSqdAUeumjtrrRErJFvXCFNdhRHilM9eYi_ss9nfYccRN5bKK-LlgW1O8oLMmNYTF6NJNn7NgB9opl9RxMsLcTZUMakw",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:13:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrnq_qJCPNHJqD3CMJ32Uiw98qcOSqdAUeumjtrrRErJFvXCFNdhRHilM9eYi_ss9nfYccRN5bKK-LlgW1O8oLMmNYTF6NJNn7NgB9opl9RxMsLcTZUMakw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"LB0VGOqRbZ7ny_zXIndpaBIW8u0=/IucCNtLbDRDohZqAwlw1xsM47LA="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:13:25 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrnq_qJCPNHJqD3CMJ32Uiw98qcOSqdAUeumjtrrRErJFvXCFNdhRHilM9eYi_ss9nfYccRN5bKK-LlgW1O8oLMmNYTF6NJNn7NgB9opl9RxMsLcTZUMakw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"AL5sWRZogKZv4nsDYlMBbP13cys=/0_2RnnSar1pvi06-h2-yn-Thlv8="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#disk",
         "id": "1473870608857032597",
         "creationTimestamp": "2018-08-01T18:08:11.166-07:00",
         "name": "data-disk-1",
         "sizeGb": "500",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "status": "READY",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1",
         "type": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/diskTypes/pd-standard",
         "labelFingerprint": "42WmSpB8rSM="
        }
  recorded_at: Thu, 02 Aug 2018 01:13:26 GMT
recorded_with: VCR 4.0.0
