---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTMxLCJpYXQiOjE1MzMxNzIwMTEsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.nSWwVrisCh_kVByAdRnMhA64L1JXytxTnsssuel7MCuDBr4TLsoHRAvDaVLj5HLOZCzQz89K1NN_RYg4hudsYo0yx8lXT5dLmn5L1G0c1n_dqfnOtjF2oXwaIHjaI3xeqoJC680eBtTZhwS6GR3CfUrlfJbhYd77xPmfqqXFAlwCt_CqMTDok4bQSzdD_9FY1hVO03FHW0q3Vtd3-bKBfdg_ug875gACGwqrTdmm__V212AcC2QAVaj5002xVmmNZLZ1gqFnerG0f54sxTP-LBc5_o7jVhD6aS54DdqQluGm7h6ufNxRwPqavZ6hN12-n-55iSE6rqyFYm74azz45g
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBlR3FJuTtv11rTBfGmdBp0gUwAY3Pf0Qgz0NX25WtMpLUVAYbYNfZT_jvVfFQJszGZVAO4EPcGsoLsaX0jYKuls4YNOTGz-rsTMrdehxcsE2kCpX0sNkUN8",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBlR3FJuTtv11rTBfGmdBp0gUwAY3Pf0Qgz0NX25WtMpLUVAYbYNfZT_jvVfFQJszGZVAO4EPcGsoLsaX0jYKuls4YNOTGz-rsTMrdehxcsE2kCpX0sNkUN8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:51 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks
    body:
      encoding: UTF-8
      string: '{"kind":"compute#healthCheck","checkIntervalSec":5,"healthyThreshold":10,"name":"my-app-tcp-hc","timeoutSec":2,"unhealthyThreshold":5,"type":"TCP","tcpHealthCheck":{"request":"ping","response":"pong","portName":"service-health"}}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBlR3FJuTtv11rTBfGmdBp0gUwAY3Pf0Qgz0NX25WtMpLUVAYbYNfZT_jvVfFQJszGZVAO4EPcGsoLsaX0jYKuls4YNOTGz-rsTMrdehxcsE2kCpX0sNkUN8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6892706416722700168",
         "name": "operation-1533172071368-5726970b18541-3bfc6bd6-8c556f23",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc",
         "targetId": "1738279567376770952",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:51.846-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172071368-5726970b18541-3bfc6bd6-8c556f23"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:52 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172071368-5726970b18541-3bfc6bd6-8c556f23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBhWy2UZdRJtIafrJDwVzbAnNtf6ejsdvBhUBKMYVyI6o5Y6I79aJ_vkBqEAbmy4ffIto0OKcIMUt3H0cL0J5Hha-s1e8y3XxKqXcAdtUw5xSwaciBzGYl90
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"QDQsrvwFq33AuqXXmWYmsoU1QtE=/Sz5WOfVw55ey4Bi2n_pCXryuEFo="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6892706416722700168",
         "name": "operation-1533172071368-5726970b18541-3bfc6bd6-8c556f23",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc",
         "targetId": "1738279567376770952",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:07:51.846-07:00",
         "startTime": "2018-08-01T18:07:52.891-07:00",
         "endTime": "2018-08-01T18:07:52.893-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172071368-5726970b18541-3bfc6bd6-8c556f23"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:53 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBhWy2UZdRJtIafrJDwVzbAnNtf6ejsdvBhUBKMYVyI6o5Y6I79aJ_vkBqEAbmy4ffIto0OKcIMUt3H0cL0J5Hha-s1e8y3XxKqXcAdtUw5xSwaciBzGYl90
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"y582rjTJSts4B8IT9vr12CcyJTM=/Fq39cEuS_-TpyL08GegcpbeHoU0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#healthCheck",
         "id": "1738279567376770952",
         "creationTimestamp": "2018-08-01T18:07:51.841-07:00",
         "name": "my-app-tcp-hc",
         "checkIntervalSec": 5,
         "timeoutSec": 2,
         "unhealthyThreshold": 5,
         "healthyThreshold": 10,
         "type": "TCP",
         "tcpHealthCheck": {
          "portName": "service-health",
          "request": "ping",
          "response": "pong",
          "proxyHeader": "NONE"
         },
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:53 GMT
recorded_with: VCR 4.0.0
