---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNTIyLCJpYXQiOjE1MzMxNzI0MDIsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.EPqxSpmCTfT_UWu41uIf8GahfVoMzZpTwDHqNVJKbdyKGfLnB2EPedniOB6bTSLrVthy1TDcMwem3VxyIwuqxGgnbR-BcsXAvxdTG6ladiXMvCo10aziWRKRSiqRiauSn23q7Eg1_nUp7dPzGSRFLppLL3otgVfJGRZcAz9VhQTSiZYrYCnaK9QS4Eqb1q7n4xHtr3CtLjfSU2J6H0O82-Dtgro-S8uPlpVvUfPfy-WZRT_MrqYB9hCOdJHhsC1rEVjQRkdZ70YGBeF5hoGJ8-ahgfXuZwanC6tFJAQVbNdKrvW40JYmRAbDRq9FBjlyR5pvNLlKSfvCjZro1yT5rA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBr46OUxQxPtzi4fwF_nl684YNZdFLLAoxp8-RehhYVKXsNGroZYNSCSFNjAZDZjBpkzPUb9nFkqcT1tlyWFoZ7Ob2lOc8Q458pBilavX_j-wFLp6JfX3C4I",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:14:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBr46OUxQxPtzi4fwF_nl684YNZdFLLAoxp8-RehhYVKXsNGroZYNSCSFNjAZDZjBpkzPUb9nFkqcT1tlyWFoZ7Ob2lOc8Q458pBilavX_j-wFLp6JfX3C4I
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"NurDd2Fn0SS0Uo0c4Gy0fnyUQ6g=/_P990lSpmRxih3lm_mTw4O6oPOE="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBruVrGFhvMDbJGXRyvt4gU4Ya0mJ9JNZvM5mVYjcV3YPW-n_eTNS54kiVgkRkDcNoWDs9KAfFlTRUZWiGjFKlQrQmZSr1y1U2MaM5P303wvM1FblU_fk7B4
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/targetPools/test1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/targetPools/test1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:14:23 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools
    body:
      encoding: UTF-8
      string: '{"kind":"compute#targetPool","name":"test1"}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBruVrGFhvMDbJGXRyvt4gU4Ya0mJ9JNZvM5mVYjcV3YPW-n_eTNS54kiVgkRkDcNoWDs9KAfFlTRUZWiGjFKlQrQmZSr1y1U2MaM5P303wvM1FblU_fk7B4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "751830922148439040",
         "name": "operation-1533172463276-57269880d8fe0-dff93ae7-5dc52f72",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1",
         "targetId": "5130079485148783616",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:14:23.857-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172463276-57269880d8fe0-dff93ae7-5dc52f72",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:24 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172463276-57269880d8fe0-dff93ae7-5dc52f72
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBoWAwpKw71nb33n6Gvx6AjAsCQmRQa_WQuvQQ78dtp9nPHDoj_rZFgGRaHOxiUnhRf0Ek8Xe_4mU5VibiAdpoePzm2f3BBrSpxsoRAe9xACCmGpbF9PPqBM
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3MujvYd1gwDxSIUYWxjU5Ritv0g=/tgCAfIkq3psxr1Zh7pzKo-toqdQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "751830922148439040",
         "name": "operation-1533172463276-57269880d8fe0-dff93ae7-5dc52f72",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1",
         "targetId": "5130079485148783616",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:14:23.857-07:00",
         "startTime": "2018-08-01T18:14:24.535-07:00",
         "endTime": "2018-08-01T18:14:24.948-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172463276-57269880d8fe0-dff93ae7-5dc52f72",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:25 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBoWAwpKw71nb33n6Gvx6AjAsCQmRQa_WQuvQQ78dtp9nPHDoj_rZFgGRaHOxiUnhRf0Ek8Xe_4mU5VibiAdpoePzm2f3BBrSpxsoRAe9xACCmGpbF9PPqBM
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"XR74zb93JF0XQ2ePBS5R1xK1Gyg=/a6vEdgPmZ_A064wBEHQDnWb4HvE="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#targetPool",
         "id": "5130079485148783616",
         "creationTimestamp": "2018-08-01T18:14:23.852-07:00",
         "name": "test1",
         "description": "",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1",
         "sessionAffinity": "NONE",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:25 GMT
recorded_with: VCR 4.0.0
