---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMDg3NDk1LCJpYXQiOjE1MzMwODczNzUsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.eopJwuV_myNYipn_Ebh1dzH4iTcju9K27TbZ-4Srl6QA-x4xMI_JRiFuKusHFNfsLB3imVREHyNq66uVnbzaF3mLsEJofW5lqoyrslgA3z_ctlyLt8II6kmvm2WFg-0RkxUgpPuwRR9jwc9fEx6DnEuUp7tC9k0Z4A8ZZKPJxoiC_Od3DRxwnlN8hmNy9f40sVqHOOHrN8a2grhtFdNsZdK1F2UDQGWJhphEWak_eU2Xm9aYIU4UdpiZwaHBIsgOG36XOYYnWd1W97ObezkL6q1gmDvbdbKi2JTGFzeTdOxlSdu0r4--duGTLjRWGhgz24BgemOPvKQn_nMt9C_WZw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloKBl72Tyr9cYo3LloKVF1XiUO8MJ8irqSAtNOz1Q2QAf4DecXc3BnomuI50OrGIPGKdA--dG88dYKqqE7yU-7IfQKl1w-5zVs2piXFeehaEl8x5IjnTk1kPB0",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 01 Aug 2018 01:37:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBl72Tyr9cYo3LloKVF1XiUO8MJ8irqSAtNOz1Q2QAf4DecXc3BnomuI50OrGIPGKdA--dG88dYKqqE7yU-7IfQKl1w-5zVs2piXFeehaEl8x5IjnTk1kPB0
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"GUOs4VRvDScQGMbiHxbEmo_D_r0=/9lCn2aUDF0VrTwXrhn6VQboRL5g="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Wed, 01 Aug 2018 01:37:15 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBl72Tyr9cYo3LloKVF1XiUO8MJ8irqSAtNOz1Q2QAf4DecXc3BnomuI50OrGIPGKdA--dG88dYKqqE7yU-7IfQKl1w-5zVs2piXFeehaEl8x5IjnTk1kPB0
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1' was not found"
         }
        }
  recorded_at: Wed, 01 Aug 2018 01:37:15 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks
    body:
      encoding: UTF-8
      string: '{"kind":"compute#disk","name":"instance-test-os-1","sizeGb":50,"sourceImage":"projects/ubuntu-os-cloud/global/images/family/ubuntu-1604-lts"}'
    headers:
      Authorization:
      - Bearer ya29.c.EloKBgAOkXapI1Ji5yrU75JV_hnSKmD5u7_LsFODb08DSPZChMTfL57K67vRzO4FXtUhGjiRHYjN3sX1rBvb5JZ4r8pEzLeGQf5Qxpv4g00xBscVNdTDS4PyYCw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6222476555433324579",
         "name": "operation-1533087436050-57255bc090e51-3aa3a5b0-c4d8b515",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "targetId": "982125496601718819",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-07-31T18:37:16.885-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533087436050-57255bc090e51-3aa3a5b0-c4d8b515"
        }
  recorded_at: Wed, 01 Aug 2018 01:37:17 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533087436050-57255bc090e51-3aa3a5b0-c4d8b515
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBqh8KSLhFXHShJaJBZTC3LcIMHg1Bx1qSZvDSMF5JphzJ5WtuJ2AAfUDBeV7QbXPN9ri-nyblw9sadoU5xYkK2EbH-Ipno2boWfYAbYruLdTXtZJj7trUdM
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"TViiCYhywP_qXQl4lzH1t_Bl5Qs=/b0cELQi7V-DWl-C98NOxYFZst0Q="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6222476555433324579",
         "name": "operation-1533087436050-57255bc090e51-3aa3a5b0-c4d8b515",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "targetId": "982125496601718819",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-07-31T18:37:16.885-07:00",
         "startTime": "2018-07-31T18:37:17.608-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533087436050-57255bc090e51-3aa3a5b0-c4d8b515"
        }
  recorded_at: Wed, 01 Aug 2018 01:37:18 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533087436050-57255bc090e51-3aa3a5b0-c4d8b515
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBlQz-zsDc6Nts3l5IPQsQRmqEO0I-Zd8ntEsE-MpD315IfO4st4NXwDnT8vfl_nce0oa5HU6WIw5gXTxQKy9dXpoxZfXuYkgIvpXlKjpyETLZuMyUypeyEA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"EtIdBBIlDd9RRv1Sg8JdupmoHCw=/850TfIJ1dx0ZrXeRN7TMJugxBBs="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6222476555433324579",
         "name": "operation-1533087436050-57255bc090e51-3aa3a5b0-c4d8b515",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "targetId": "982125496601718819",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-07-31T18:37:16.885-07:00",
         "startTime": "2018-07-31T18:37:17.608-07:00",
         "endTime": "2018-07-31T18:37:18.735-07:00",
         "warnings": [
          {
           "code": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
           "message": "Disk size: '50 GB' is larger than image size: '10 GB'. You might need to resize the root repartition manually if the operating system does not support automatic resizing. See https://cloud.google.com/compute/docs/disks/persistent-disks#repartitionrootpd for details.",
           "data": [
            {
             "key": "disk_size_gb",
             "value": "50"
            },
            {
             "key": "image_size_gb",
             "value": "10"
            }
           ]
          }
         ],
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533087436050-57255bc090e51-3aa3a5b0-c4d8b515"
        }
  recorded_at: Wed, 01 Aug 2018 01:37:19 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBlQz-zsDc6Nts3l5IPQsQRmqEO0I-Zd8ntEsE-MpD315IfO4st4NXwDnT8vfl_nce0oa5HU6WIw5gXTxQKy9dXpoxZfXuYkgIvpXlKjpyETLZuMyUypeyEA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"DGXswI10uxzpGw5XRrpLUqIBnH0=/gLdG1GkMhAXbRDF7HgY98J9AT28="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#disk",
         "id": "982125496601718819",
         "creationTimestamp": "2018-07-31T18:37:16.854-07:00",
         "name": "instance-test-os-1",
         "sizeGb": "50",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "status": "READY",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "sourceImage": "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-1604-xenial-v20180724",
         "sourceImageId": "6243803748120370197",
         "type": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/diskTypes/pd-standard",
         "licenses": [
          "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
         ],
         "guestOsFeatures": [
          {
           "type": "VIRTIO_SCSI_MULTIQUEUE"
          }
         ],
         "labelFingerprint": "42WmSpB8rSM=",
         "licenseCodes": [
          "1000201"
         ]
        }
  recorded_at: Wed, 01 Aug 2018 01:37:19 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBkf8aNNEqQKbipk7gGEDJvAqhuE3MrqEDA3vwJTfWCSnt8aBewDNsuUeCXQZN5xl-gWA_vJn2iuXHyxoUvfOLFHJWvu2GeFKQlSlqkiAtrXLnAJceQTtPTw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"rsARE5qlVheEaPFQBbeZDg50O5A=/CJwZElHo5-hpnBvVmBHbZVmClxU="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "1942981909161036014",
         "creationTimestamp": "2017-11-30T13:20:01.581-08:00",
         "name": "default",
         "description": "Default network for the project",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
         "autoCreateSubnetworks": true,
         "subnetworks": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/europe-west4/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/northamerica-northeast1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/asia-south1/su[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBkf8aNNEqQKbipk7gGEDJvAqhuE3MrqEDA3vwJTfWCSnt8aBewDNsuUeCXQZN5xl-gWA_vJn2iuXHyxoUvfOLFHJWvu2GeFKQlSlqkiAtrXLnAJceQTtPTw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sV3vk1MmlSJbNrRPKikAD6Ks_h4=/t4uW19IjJrgf2fIimBdZUQ85UHc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1",
         "description": "us-central1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-c",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-f"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 1.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 60.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 3.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
     [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBkf8aNNEqQKbipk7gGEDJvAqhuE3MrqEDA3vwJTfWCSnt8aBewDNsuUeCXQZN5xl-gWA_vJn2iuXHyxoUvfOLFHJWvu2GeFKQlSlqkiAtrXLnAJceQTtPTw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"88653b6-5RVBx0nltEvr0xkFeRI=/Rt0L1rwD60hTBu3b4_CFrPJvJLc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#machineType",
         "id": "3001",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "n1-standard-1",
         "description": "1 vCPU, 3.75 GB RAM",
         "guestCpus": 1,
         "memoryMb": 3840,
         "imageSpaceGb": 10,
         "maximumPersistentDisks": 32,
         "maximumPersistentDisksSizeGb": "65536",
         "zone": "us-central1-a",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "isSharedCpu": false
        }
  recorded_at: Wed, 01 Aug 2018 01:37:20 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBkf8aNNEqQKbipk7gGEDJvAqhuE3MrqEDA3vwJTfWCSnt8aBewDNsuUeCXQZN5xl-gWA_vJn2iuXHyxoUvfOLFHJWvu2GeFKQlSlqkiAtrXLnAJceQTtPTw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sDJU5elzNSt4NT1mCwU2uoeDUFE=/ue2W-SoKJd_gn_Q-EO1iaSL4iN0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#address",
         "id": "8653093024631897164",
         "creationTimestamp": "2018-06-28T17:51:47.540-07:00",
         "name": "instance-test-ip",
         "description": "",
         "address": "35.188.52.167",
         "status": "RESERVED",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip",
         "networkTier": "PREMIUM"
        }
  recorded_at: Wed, 01 Aug 2018 01:37:20 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBkf8aNNEqQKbipk7gGEDJvAqhuE3MrqEDA3vwJTfWCSnt8aBewDNsuUeCXQZN5xl-gWA_vJn2iuXHyxoUvfOLFHJWvu2GeFKQlSlqkiAtrXLnAJceQTtPTw
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
         }
        }
  recorded_at: Wed, 01 Aug 2018 01:37:21 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances
    body:
      encoding: UTF-8
      string: '{"kind":"compute#instance","disks":[{"autoDelete":true,"boot":true,"source":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1"}],"metadata":{"items":[{"key":"startup-script-url","value":"gs://graphite-playground/bootstrap.sh"},{"key":"cost-center","value":"12345"}]},"machineType":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1","name":"instance-test","networkInterfaces":[{"accessConfigs":[{"name":"External
        NAT","natIP":"35.188.52.167","type":"ONE_TO_ONE_NAT"}],"network":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default"}]}'
    headers:
      Authorization:
      - Bearer ya29.c.EloKBnC0vujSIGRgx6Ds_obDEOtlagFvdIBJOBS2Md5-3J00jba34HAPDfQ5ptPOdelIoe-vrjvq5iwn8a2TAsIq6gZLw4Srht4xW8IwhK4q1QOKJrRWIks9uag
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6750525531592896574",
         "name": "operation-1533087441126-57255bc568271-c21680bf-6ff59f4d",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "targetId": "2470096755724431422",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-07-31T18:37:22.151-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533087441126-57255bc568271-c21680bf-6ff59f4d"
        }
  recorded_at: Wed, 01 Aug 2018 01:37:22 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBm0SAk2JQnHVVYkuHY-zVO7Brcw-0_ZeYE1mgald25vBGjHKDTG63AJrwPDUT9Lz-XD4_zzQgXrFASGQfNSMMQrJBeQhRAFOdTwt7gILSc3ndIqTSuB2gyM
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"DyJvER4IgB_j-SImZbN_nSMtozs=/hOtH4V4P1SD7OqzUXuVTNw1plXQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#instance",
         "id": "2470096755724431422",
         "creationTimestamp": "2018-07-31T18:37:21.981-07:00",
         "name": "instance-test",
         "tags": {
          "fingerprint": "42WmSpB8rSM="
         },
         "machineType": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "status": "RUNNING",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "networkInterfaces": [
          {
           "kind": "compute#networkInterface",
           "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
           "subnetwork": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
           "networkIP": "10.128.0.3",
           "name": "nic0",
           "accessConfigs": [
            {
             "kind": "compute#accessConfig",
             "type": "ONE_TO_ONE_NAT",
             "name": "External NAT",
             "natIP": "35.188.52.167",
             "networkTier": "PREMIUM"
            }
           ],
           "fingerprint": "itHulOyB9y8="
          }
         ],
         "disks": [
          {
           "kind": "compute#attachedDisk",
           "type": "PERSISTENT",
           "mode": "READ_WRITE",
           "source": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
           "deviceName": "persistent-disk-0",
           "index": 0,
           "boot": true,
           "autoDelete": true,
           "licenses": [
            "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
           ],
           "interface": "SCSI",
           "guestOsFeatures": [
            {
             "type": "VIRTIO_SCSI_MULTIQUEUE"
            }
           ]
          }
         ],
         "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "kZvH-xYpACI=",
          "items": [
           {
            "key": "startup-script-url",
            "value": "gs://graphite-playground/bootstrap.sh"
           },
           {
            "key": "cost-center",
            "value": "12345"
           }
          ]
         },
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false
         },
         "cpuPlatform": "Intel Sandy Bridge",
         "labelFingerprint": "42WmSpB8rSM=",
         "startRestricted": false,
         "deletionProtection": false
        }
  recorded_at: Wed, 01 Aug 2018 01:37:27 GMT
recorded_with: VCR 4.0.0
