---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTAwLCJpYXQiOjE1MzMxNzE5ODAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.E5nmjGhftfp9pxQvNaSxM_6p7mXeQ9AG1FyTRmbNWzB8r5xlx1eqdCJ6UfWonn2z5aBvdkq1FTJD9AT3z9QI3cFYYa7WtSs83tBDno6KUmNJOSDKwnfPhOrvkoWWrugOVn2XxH00_EKqhdcISvQuHLK-VUPdtFMCAmMmMbfBp5Po3xchpFdwwBBAEl7uUt3zwrTtyEdDUJPQv75ZSHwp91sByDt9vLYJHrcBt3crQTI7lFilMt-JviCQgmBwICJi0Wgf3u9kaK82COCntGi36XDv_v_zDnQ2yw4thVDNc9tB9UgQnUi1deTFk9WkSEGcaTaAXeKH5BAHqFURKz1HmQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBtEQyfSD4IQIJDZMugwOyGNq2ghRBvb_5kMC9HTkyJs6St-Tq1rcnYnbl7nTzTe5bryTuSPurxDeOCJ2SNFIJTMmDSkPkBtAuVLBF0am7M31_1oW559olVg",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBtEQyfSD4IQIJDZMugwOyGNq2ghRBvb_5kMC9HTkyJs6St-Tq1rcnYnbl7nTzTe5bryTuSPurxDeOCJ2SNFIJTMmDSkPkBtAuVLBF0am7M31_1oW559olVg
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:20 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls
    body:
      encoding: UTF-8
      string: '{"kind":"compute#firewall","allowed":[{"IPProtocol":"tcp","ports":["22"]}],"name":"test-fw-allow-ssh","sourceTags":["test-ssh-clients"],"targetTags":["test-ssh-server","staging-ssh-server"]}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBtEQyfSD4IQIJDZMugwOyGNq2ghRBvb_5kMC9HTkyJs6St-Tq1rcnYnbl7nTzTe5bryTuSPurxDeOCJ2SNFIJTMmDSkPkBtAuVLBF0am7M31_1oW559olVg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6482922002168407974",
         "name": "operation-1533172040824-572696edf74c0-3ebe748b-5fa79746",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh",
         "targetId": "8045980400705595302",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:21.446-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172040824-572696edf74c0-3ebe748b-5fa79746"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:21 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172040824-572696edf74c0-3ebe748b-5fa79746
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBkTtIjLILzErxr9OqNNsmlDMp2PmgyXBfDb2TKDpfF0gpUPEtWs5SJPsNOF2LZieCkwwiDVBfnuZdvdGWuGL4qvRyaK2tw5bPXRYFk9zr5tNq6O4avUcXlk
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"WnjFwXF2Wr-umLQ0JJ8e5osjzZk=/0Yl__sm8oW7SgLtk2ZhT_hRluds="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6482922002168407974",
         "name": "operation-1533172040824-572696edf74c0-3ebe748b-5fa79746",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh",
         "targetId": "8045980400705595302",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:21.446-07:00",
         "startTime": "2018-08-01T18:07:22.202-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172040824-572696edf74c0-3ebe748b-5fa79746"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:22 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172040824-572696edf74c0-3ebe748b-5fa79746
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrBxLQGtN2abYJp_cjEdNYaaTSAgyB1wwMlZP1nFRHwzgqft0o3l1gn3MUT0q8mBw9_LDZCY6YrdIbZoLwlC6ZdRL8Sz9FHVnjuX2qszRm0c3Dmq3mgHi80
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"n-ef709EPHh1_1kk7w9iHmbk-SA=/98SOx_qnP9qWEuuEsIdlYaVCltY="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6482922002168407974",
         "name": "operation-1533172040824-572696edf74c0-3ebe748b-5fa79746",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh",
         "targetId": "8045980400705595302",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:07:21.446-07:00",
         "startTime": "2018-08-01T18:07:22.202-07:00",
         "endTime": "2018-08-01T18:07:26.755-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172040824-572696edf74c0-3ebe748b-5fa79746"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:27 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrBxLQGtN2abYJp_cjEdNYaaTSAgyB1wwMlZP1nFRHwzgqft0o3l1gn3MUT0q8mBw9_LDZCY6YrdIbZoLwlC6ZdRL8Sz9FHVnjuX2qszRm0c3Dmq3mgHi80
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"AhMEUBC5EIoKuakS7DkfwlD6vk8=/QVsegQwywyWVlbrdPvow7O64IYk="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#firewall",
         "id": "8045980400705595302",
         "creationTimestamp": "2018-08-01T18:07:21.438-07:00",
         "name": "test-fw-allow-ssh",
         "description": "",
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
         "priority": 1000,
         "sourceTags": [
          "test-ssh-clients"
         ],
         "targetTags": [
          "test-ssh-server",
          "staging-ssh-server"
         ],
         "allowed": [
          {
           "IPProtocol": "tcp",
           "ports": [
            "22"
           ]
          }
         ],
         "direction": "INGRESS",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:27 GMT
recorded_with: VCR 4.0.0
