---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDc1LCJpYXQiOjE1MzMxNzIzNTUsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.sya0fmBXLQ1OTDr8qmvuH1N0JLsEQYxy4y8sxq5L73AYZUNanqzpFQ8oXXDq1ZwwR2GLchQ4g36ZGYcsI9tpf1fB0mSn5UTZZEHyOAzDYW8LWCPyb4f08t1_2x5_C2WVuxBOnHfT-UMxs13qsAjjNzBAq0uKipnCXFq2vHnrzT0bFgt1jD_M1mFMuEn5ONNiHEQPs0o0U26p-Hz7vlWZxtUP3QUl76oO1c_0CHcdsJhf-j7p3u2ZgU9SH-TdQyjSfGFzy8FwYQTrQ3mLmsXX_NTrMKUrgH4qkQcBGaoLdXZxgbXY9nqOyFw_HpiBDbIf42gjOnJYpoCpHAhK6grZ-A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBqaK8HNNOKQafv-MD4797o0p0BwDJdp0ltl4RqMCRVBshcoQhJRMJVMRekyhj1X5WGVy84skbIzNLzZTG1vv6ATWqVEphFrJOBWWDUy2XVtG8vpzsgRQVsk",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:13:35 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqaK8HNNOKQafv-MD4797o0p0BwDJdp0ltl4RqMCRVBshcoQhJRMJVMRekyhj1X5WGVy84skbIzNLzZTG1vv6ATWqVEphFrJOBWWDUy2XVtG8vpzsgRQVsk
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/networks/mynetwork-subnetwork' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/networks/mynetwork-subnetwork' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:13:35 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks
    body:
      encoding: UTF-8
      string: '{"kind":"compute#network","name":"mynetwork-subnetwork","autoCreateSubnetworks":false}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqaK8HNNOKQafv-MD4797o0p0BwDJdp0ltl4RqMCRVBshcoQhJRMJVMRekyhj1X5WGVy84skbIzNLzZTG1vv6ATWqVEphFrJOBWWDUy2XVtG8vpzsgRQVsk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3409559480936948816",
         "name": "operation-1533172415423-572698533621a-9ee9129f-7c6e99e7",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork",
         "targetId": "2200018384539608144",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:13:35.973-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172415423-572698533621a-9ee9129f-7c6e99e7"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:36 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172415423-572698533621a-9ee9129f-7c6e99e7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBt-OO4v3siCUo9NVz1Y830bL1_oTmXOrdwF2FVkXTSZU9sG7c8jT9vF6ONEfRJ7QVldQrtKuvXsWNwq2oKhbYmPW93ScyUrQs-apHIKfBP-2v8QLXJ1vPco
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7iJMJrfOZvcRkl8GXigwUQaxhks=/3y_TLHaKxxueV0iTPDeCmi5y6EM="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3409559480936948816",
         "name": "operation-1533172415423-572698533621a-9ee9129f-7c6e99e7",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork",
         "targetId": "2200018384539608144",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:13:35.973-07:00",
         "startTime": "2018-08-01T18:13:37.050-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172415423-572698533621a-9ee9129f-7c6e99e7"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:37 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172415423-572698533621a-9ee9129f-7c6e99e7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqVfsSdqqOZ9hOdUMBkMNqYUl_NKlTyrCOHS4y53b_CR__6TrALghJHWChtBSEyArCl9_-Gb7GFE7THhL0zwFn0sIcbAMMI70wjtc9ruUMvBl39iAMdIMaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4fArl64S-3fnQbPSd3_O-8wGrbc=/IqcXrujgFSw2VCTLUTY2NukPYa4="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3409559480936948816",
         "name": "operation-1533172415423-572698533621a-9ee9129f-7c6e99e7",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork",
         "targetId": "2200018384539608144",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:13:35.973-07:00",
         "startTime": "2018-08-01T18:13:37.050-07:00",
         "endTime": "2018-08-01T18:13:47.893-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172415423-572698533621a-9ee9129f-7c6e99e7"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:48 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqVfsSdqqOZ9hOdUMBkMNqYUl_NKlTyrCOHS4y53b_CR__6TrALghJHWChtBSEyArCl9_-Gb7GFE7THhL0zwFn0sIcbAMMI70wjtc9ruUMvBl39iAMdIMaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"qqJIf1S2VgvXFQs7O_5Cwt6DygU=/Z0AYQ1q0n49XhpQMo6stfobHlNY="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "2200018384539608144",
         "creationTimestamp": "2018-08-01T18:13:35.969-07:00",
         "name": "mynetwork-subnetwork",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork",
         "autoCreateSubnetworks": false,
         "routingConfig": {
          "routingMode": "REGIONAL"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:13:48 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqVfsSdqqOZ9hOdUMBkMNqYUl_NKlTyrCOHS4y53b_CR__6TrALghJHWChtBSEyArCl9_-Gb7GFE7THhL0zwFn0sIcbAMMI70wjtc9ruUMvBl39iAMdIMaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"WEoVnnM6eFIsZureqoIN_gzo5ZY=/fi4EnNhdNp4365e1uJmB9odrbZg="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqVfsSdqqOZ9hOdUMBkMNqYUl_NKlTyrCOHS4y53b_CR__6TrALghJHWChtBSEyArCl9_-Gb7GFE7THhL0zwFn0sIcbAMMI70wjtc9ruUMvBl39iAMdIMaQ
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/subnetworks/servers' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/subnetworks/servers' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:13:49 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks
    body:
      encoding: UTF-8
      string: '{"kind":"compute#subnetwork","ipCidrRange":"172.16.0.0/16","name":"servers","network":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork","region":"us-west1"}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm6G4-tAeTH5ogA-LBHm8bPR-aSTRNYq4iQWHTTyFXaQBmIa9sRbLy-mPVgVBnYHzEpMsLuHCG5hOIra5pRQRDsnevc1--0DDK3ZBM5h0LXdx8qaA6lPows
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "4718734219349582882",
         "name": "operation-1533172429169-5726986052169-eff34416-1567700e",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers",
         "targetId": "4532361457933739042",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:13:50.032-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172429169-5726986052169-eff34416-1567700e",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:50 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172429169-5726986052169-eff34416-1567700e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBr-XP-k3-qEvgiABOT6UPn6Gc2kF71cyERJLiKy37dRydxjJOJVxUcYAHgmeCe3P6HS-L7EsB9t5dOqiRwfKaGoBHoW-HmW4LcNzaiaRja3VmA7-vTmDOSM
  response:
    status:
      code: 200
      message: OK
    headers:
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBq3DlyXAKGPkGyqtJ3OTeqLlRECFkIXY3y5xA5qwPpEDuorjqkSj6T4Z3rAUCj8RUkRKyNiQ5XVzVkpG_1pyyxt252AG-7asudAqwOAruaiNHnAIdAQfpYE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"_vx2UnbstxoT73SMMEnD5nWdNdI=/7H3n2dhJbeifApAHIZ44ZOyt9q8="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#subnetwork",
         "id": "4532361457933739042",
         "creationTimestamp": "2018-08-01T18:13:50.025-07:00",
         "name": "servers",
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork",
         "ipCidrRange": "172.16.0.0/16",
         "gatewayAddress": "172.16.0.1",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers",
         "privateIpGoogleAccess": false,
         "fingerprint": "f5Ax_7tVJVI="
        }
  recorded_at: Thu, 02 Aug 2018 01:14:04 GMT
recorded_with: VCR 4.0.0
