---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMDg0LCJpYXQiOjE1MzMxNzE5NjQsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.zmVWZ00xNFa03_kHl3D90hHqjXxFfdOqoV8v7W32Yl57MLB2RSeJs8P3lBr_coV0exonLvW2mcm0Pvzm-L7RGSPYMo8AxGVYqQqnHS4cGyomaLkYtsWTZkksDmP90Lilz5nfoKzT9qgWVTpBiozgGhE7cWxWCGCMLOKYtRocNnk3_GY60cIDoHUKauhbbHPO91K-CFzqk6WsYpP0kg8E4Ga8QCjWYHk2cOGCAEsYQwq28IqkrPQYb6tg8BiAqKtAxkLS7x-syUknt5SZA-JWcrLmVHg-rpUlWk5wCTotSxzbONUUrXdysTiDvAxHDLF1TCt9wK2dG1w2PPts5_mc6w
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBhC5SEinp6cwNQZVHKBytVMAQroQIlriX--4_D_q8szQn2uk_Vwj7Gq57CzekzQIOfK4qaumW9zB1k1-OcX6Gj31GC15_3eNPuO02SdWNl5-e4gyRqN8S6s",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBhC5SEinp6cwNQZVHKBytVMAQroQIlriX--4_D_q8szQn2uk_Vwj7Gq57CzekzQIOfK4qaumW9zB1k1-OcX6Gj31GC15_3eNPuO02SdWNl5-e4gyRqN8S6s
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:04 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/backendBuckets
    body:
      encoding: UTF-8
      string: '{"kind":"compute#backendBucket","bucketName":"backend-bucket-test","description":"A
        BackendBucket to connect LNB w/ Storage Bucket","enableCdn":true,"name":"be-bucket-connection"}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBhC5SEinp6cwNQZVHKBytVMAQroQIlriX--4_D_q8szQn2uk_Vwj7Gq57CzekzQIOfK4qaumW9zB1k1-OcX6Gj31GC15_3eNPuO02SdWNl5-e4gyRqN8S6s
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "8325988547300419542",
         "name": "operation-1533172024602-572696de7ed90-16138365-bc75e76e",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection",
         "targetId": "1751394215655368662",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:05.188-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172024602-572696de7ed90-16138365-bc75e76e"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:05 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172024602-572696de7ed90-16138365-bc75e76e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBoI-JWZnh6qWV0FeYK7ZdjizMOz-Ig_ur8dmCxmr5Z038EBy3RnkW7BpoecI-e5ZUzmltuDh70gNUGqQGNaQRD1q4J0UDFDvZ0BfY_-f4QKkUrnbZyWln_k
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Ng0tRLHUtAY1nB4DwNzznfJ36pA=/PYh2GcvOlSczBAcWjkAtCWLhANQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "8325988547300419542",
         "name": "operation-1533172024602-572696de7ed90-16138365-bc75e76e",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection",
         "targetId": "1751394215655368662",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:05.188-07:00",
         "startTime": "2018-08-01T18:07:06.214-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172024602-572696de7ed90-16138365-bc75e76e"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:06 GMT
[...]
