---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTQzLCJpYXQiOjE1MzMxNzIwMjMsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.L1Xwz2dRba1FhWw6m-d-IQRLhNd-MSty7E_cu_NNCk9NeyYs_4YWz0sZxQD9gkRBuSeGFlo-8Yu6fodMWcKhl0uuFOdMStO8DMGgS4mZFztAxxUfwEXmqHBCcBeFr627EnwbI4M17IC-Jr-i2WW7hKx4OMeB4eKvl9hb5NobKFSa6g_PUTZmrWLk6I3zrjL-j0tURsC-b-wEKBuQFmMjqw50DyJpiY_k-JWZtnKwy_g8IvC7eB082Bcry8yk8Mr0Is5jL5a2HGoWkVNrfGeoybcBy0_MA3YiVZyjbdoQBF20d08e_5WVXA5-C6RZqQXTeuYh27PYel1CYUZSNsI4BQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBugTx3h2NyXrtKVuRU1qbyHjlWk2qid63itc1fVRG94Cy1VAN8cc85AbHm1HEdHFpVpfj8QKhXN_Ph0nSdgOVV6RYrwKO4lVk4mSLeit2SByVvROSPAO6RE",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:08:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpsHealthChecks/my-app-https-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBugTx3h2NyXrtKVuRU1qbyHjlWk2qid63itc1fVRG94Cy1VAN8cc85AbHm1HEdHFpVpfj8QKhXN_Ph0nSdgOVV6RYrwKO4lVk4mSLeit2SByVvROSPAO6RE
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/httpsHealthChecks/my-app-https-hc' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/httpsHealthChecks/my-app-https-hc' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:08:03 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpsHealthChecks
    body:
      encoding: UTF-8
      string: '{"kind":"compute#httpsHealthCheck","healthyThreshold":10,"name":"my-app-https-hc","port":8080,"timeoutSec":2,"unhealthyThreshold":5}'
    headers:
      Authorization:
      - Bearer ya29.c.EloLBugTx3h2NyXrtKVuRU1qbyHjlWk2qid63itc1fVRG94Cy1VAN8cc85AbHm1HEdHFpVpfj8QKhXN_Ph0nSdgOVV6RYrwKO4lVk4mSLeit2SByVvROSPAO6RE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3267729885477463963",
         "name": "operation-1533172083584-57269716bec01-8c3ba276-2e6dada9",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpsHealthChecks/my-app-https-hc",
         "targetId": "3428265107188082587",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:08:04.175-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172083584-57269716bec01-8c3ba276-2e6dada9"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:04 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172083584-57269716bec01-8c3ba276-2e6dada9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqtQanP30TrOki58PVhb69zyY19wvi0Eq65Cs1tt-bnJycGAlBKZkn3UXzMVoLrsI4dF_XTWGpnePW8fUI1KgfVSsDFif83HSDlVbaK9D5BNqmUHc8z3rbk
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Ua-AcrruO2I2NTzrM0TWF7DE6_I=/a3A7GkT7OgJ855jYMrZHafyAX8w="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3267729885477463963",
         "name": "operation-1533172083584-57269716bec01-8c3ba276-2e6dada9",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpsHealthChecks/my-app-https-hc",
         "targetId": "3428265107188082587",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:08:04.175-07:00",
         "startTime": "2018-08-01T18:08:05.220-07:00",
         "endTime": "2018-08-01T18:08:05.222-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172083584-57269716bec01-8c3ba276-2e6dada9"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:05 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpsHealthChecks/my-app-https-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBqtQanP30TrOki58PVhb69zyY19wvi0Eq65Cs1tt-bnJycGAlBKZkn3UXzMVoLrsI4dF_XTWGpnePW8fUI1KgfVSsDFif83HSDlVbaK9D5BNqmUHc8z3rbk
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PrUqzm5bcdQ-tEOTFA3ad0SWOwQ=/G5iA89pFYEBnYEs-qS44bV2Zdx0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#httpsHealthCheck",
         "id": "3428265107188082587",
         "creationTimestamp": "2018-08-01T18:08:04.169-07:00",
         "name": "my-app-https-hc",
         "description": "",
         "host": "",
         "requestPath": "/",
         "port": 8080,
         "checkIntervalSec": 5,
         "timeoutSec": 2,
         "unhealthyThreshold": 5,
         "healthyThreshold": 10,
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/httpsHealthChecks/my-app-https-hc"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:05 GMT
recorded_with: VCR 4.0.0
