---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMDk0LCJpYXQiOjE1MzMxNzE5NzQsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.EGMu2GI3O2CPY1DAgEOXiit9erAcGrT684-5AQPeipGrfnyWQfRNRdybp5MUsw-rOIS_I4tGXnQJr7OAbPFiyuxyvFs0PqcXt3sBOE22-zo33ouBy6k3atmkd668yg1AEn7EtLS2Cdf3ysQHkf1cNl18kNynYjR7T8eiKRG72likf6zeAj_yk7Swq9CWo0WemMgmkmA7GRA-yw3DVE7vpjxYFY4SaW_VuSjN1Mi_ZR4caLEjRLEBNr56LXeIL81vutFjgDasmbzXGNlKwQHhcOrybENll3t_JuCDTv11iUHilEuAwX_T6ojeT8NuWDdaokjbWHE0PgQydJpVs5EIAA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.EloLBm4gkObzQQ7C2-3go1rcIeAlOVyoK4VMgLbQSJACvzVnkn2u7nrodneMfUEKHObnwZbPWESZdA9EH3yklgswleJQMdm_CdwUChgB9ACVc0bU8rHnrUtg520",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm4gkObzQQ7C2-3go1rcIeAlOVyoK4VMgLbQSJACvzVnkn2u7nrodneMfUEKHObnwZbPWESZdA9EH3yklgswleJQMdm_CdwUChgB9ACVc0bU8rHnrUtg520
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"u-1JmdgYzTsRRadX9SqCX_2OKdo=/dUbvXjV5pL6SJwj_yqWBLMy6wuw="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:07:15 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsJkUIOdSg8x2TcsYnLi6efxcbF7_mXY7w3YHoZVXpMQTXm87_uLWiJR19Xv7MdWEWHFsHPEONmi1KCjRJoAkPa1Uelvy9MOauuRnBNb1OnbhEfBRKT0s6M
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"hUYsJTWmOUCW9QtBBN8r2OEoL9s=/xw80U6S519irRQbqiCrqYZPL1LI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#disk",
         "id": "6492039775356184529",
         "creationTimestamp": "2018-08-01T18:07:11.442-07:00",
         "name": "data-disk-1",
         "sizeGb": "50",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "status": "READY",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1",
         "type": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/diskTypes/pd-standard",
         "diskEncryptionKey": {
          "sha256": "esTuF7d4eatX4cnc4JsiEiaI+Rff78JgPhA/v1zxX9E="
         },
         "labelFingerprint": "42WmSpB8rSM="
        }
  recorded_at: Thu, 02 Aug 2018 01:07:15 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsJkUIOdSg8x2TcsYnLi6efxcbF7_mXY7w3YHoZVXpMQTXm87_uLWiJR19Xv7MdWEWHFsHPEONmi1KCjRJoAkPa1Uelvy9MOauuRnBNb1OnbhEfBRKT0s6M
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7114496801311287212",
         "name": "operation-1533172035311-572696e8b55a1-10383026-a5b2a6d8",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1",
         "targetId": "6492039775356184529",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:15.727-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172035311-572696e8b55a1-10383026-a5b2a6d8"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:16 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172035311-572696e8b55a1-10383026-a5b2a6d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBjszz-aZnsCLNtPoBwdLWebA6P--JXZT8xTkc5VvVW5hgchB6vt3on9-joztsz5GIPpBC_DdqK0XngBH9ILc7IgwYZy7A_DMxTEeANepR_IhL7n3SlYNezs
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"SYXt7PRr1DY4qOdq1NyxQW3--0I=/GE4UQWHbcYEKX7LnSbHUl1ZYvDc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7114496801311287212",
         "name": "operation-1533172035311-572696e8b55a1-10383026-a5b2a6d8",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1",
         "targetId": "6492039775356184529",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:15.727-07:00",
         "startTime": "2018-08-01T18:07:16.382-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172035311-572696e8b55a1-10383026-a5b2a6d8"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:17 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172035311-572696e8b55a1-10383026-a5b2a6d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBkcR1rXmXOvt881GeXl-AkCwpxea34eGkMhxQU1ABy9qHrbELkr40CAoZEXUm4-PrLJEGEU2aErcWLrc_OAF6uks2V6TAi69G6JDnhbi_Ek6ItORJWj-xxs
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"SYXt7PRr1DY4qOdq1NyxQW3--0I=/TdEnEjZmGX0TtaTaWmUJ1qef63o="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7114496801311287212",
         "name": "operation-1533172035311-572696e8b55a1-10383026-a5b2a6d8",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1",
         "targetId": "6492039775356184529",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:07:15.727-07:00",
         "startTime": "2018-08-01T18:07:16.382-07:00",
         "endTime": "2018-08-01T18:07:18.449-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172035311-572696e8b55a1-10383026-a5b2a6d8"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:19 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBkcR1rXmXOvt881GeXl-AkCwpxea34eGkMhxQU1ABy9qHrbELkr40CAoZEXUm4-PrLJEGEU2aErcWLrc_OAF6uks2V6TAi69G6JDnhbi_Ek6ItORJWj-xxs
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:19 GMT
recorded_with: VCR 4.0.0
