---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTY4LCJpYXQiOjE1MzMxNzIwNDgsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.QLMvWBLTJcfeOhCkzBetocrgwV_I4o24rVf7DPJzL2dvikoLOKlCmPRPRnqLAdx_xK5yt4g9O-uejVCDHF_Q-wJRp3Nm7Qr_TpTqCZ9_HWMX9t-K3n1XkW6p3kiRf_jlfKmUHAGrJjBSq7yQY7BIa5RUxlui9trMy9sHF4RF1XOCYKhiyy3DpciVhnXPD8zuhh3MK53qkhhAysg24waMHAEpMkcEyZWX1AcujRssFpGV6nI0cEWTa8WdpaearTbVTdxk--FmZE07vrT1b5L7SIEy7CcNJoPhHRmkDrc15ozxCDH2Q-MVYY50J5yaR08UukhdC41MK_zP-Ra8-P0zRQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBjE-fjydU5f28D3xuL41mNMEuwfTDTOow9rihTyKP4nbxo0Drh4yBeffv8KUBSyWDoCTak9YaO9s_RG4KOvYPp8xowekeGbUB6F4_dilz0t37E_6woyh6jo",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:08:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBjE-fjydU5f28D3xuL41mNMEuwfTDTOow9rihTyKP4nbxo0Drh4yBeffv8KUBSyWDoCTak9YaO9s_RG4KOvYPp8xowekeGbUB6F4_dilz0t37E_6woyh6jo
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"rXkuaX6gCz1bHeyhqicPYCBs6a4=/Kuq4nVMXqtH4_vP9pskNGXKdLVU="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:08:28 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBjE-fjydU5f28D3xuL41mNMEuwfTDTOow9rihTyKP4nbxo0Drh4yBeffv8KUBSyWDoCTak9YaO9s_RG4KOvYPp8xowekeGbUB6F4_dilz0t37E_6woyh6jo
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"S-36uekULL9H6seJu9btcIWXOtI=/HlCTrU1u4lQKOoxjQdcmKJSrXxs="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#instance",
         "id": "153719909720778603",
         "creationTimestamp": "2018-08-01T18:08:21.596-07:00",
         "name": "instance-test",
         "tags": {
          "fingerprint": "42WmSpB8rSM="
         },
         "machineType": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "status": "RUNNING",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "networkInterfaces": [
          {
           "kind": "compute#networkInterface",
           "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
           "subnetwork": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
           "networkIP": "10.128.0.3",
           "name": "nic0",
           "accessConfigs": [
            {
             "kind": "compute#accessConfig",
             "type": "ONE_TO_ONE_NAT",
             "name": "External NAT",
             "natIP": "35.188.52.167",
             "networkTier": "PREMIUM"
            }
           ],
           "fingerprint": "itHulOyB9y8="
          }
         ],
         "disks": [
          {
           "kind": "compute#attachedDisk",
           "type": "PERSISTENT",
           "mode": "READ_WRITE",
           "source": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
           "deviceName": "persistent-disk-0",
           "index": 0,
           "boot": true,
           "autoDelete": true,
           "licenses": [
            "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
           ],
           "interface": "SCSI",
           "guestOsFeatures": [
            {
             "type": "VIRTIO_SCSI_MULTIQUEUE"
            }
           ]
          }
         ],
         "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "kZvH-xYpACI=",
          "items": [
           {
            "key": "startup-script-url",
            "value": "gs://graphite-playground/bootstrap.sh"
           },
           {
            "key": "cost-center",
            "value": "12345"
           }
          ]
         },
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false
         },
         "cpuPlatform": "Intel Sandy Bridge",
         "labelFingerprint": "42WmSpB8rSM=",
         "startRestricted": false,
         "deletionProtection": false
        }
  recorded_at: Thu, 02 Aug 2018 01:08:29 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgjhO5qioRQ7BCecn3XCHs89-qAPY6zIa2FmzYCFNFl3YvrxgcdWAp7VFHsWkv2dmoNhIwS7PmsHFvMtObQqS3503490FJl1Ggb-A69cOmAejFdt9Mjmw7I
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "5306330653620430690",
         "name": "operation-1533172109087-5726972f11119-8a95d089-f1be8169",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "targetId": "153719909720778603",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:08:29.402-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172109087-5726972f11119-8a95d089-f1be8169"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:29 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172109087-5726972f11119-8a95d089-f1be8169
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBhV9CFBLOJOYjMex-Qi6wXZZOYzFutD_-7tXWLcU-GotA4Zdu3OYpBJG-RHgbDs3lPSmbs8Farb-62vtqtn-GLj5Sx-KQiPpg5WmTM04uZxserFN9Iletm4
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"JFS7x2_aMzKhtmzDNSxeB9CytDg=/bRZu4ID_GWYacfuqiTo3l8Y5ZII="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "5306330653620430690",
         "name": "operation-1533172109087-5726972f11119-8a95d089-f1be8169",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "targetId": "153719909720778603",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:08:29.402-07:00",
         "startTime": "2018-08-01T18:08:30.062-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172109087-5726972f11119-8a95d089-f1be8169"
        }
  recorded_at: Thu, 02 Aug 2018 01:08:30 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172109087-5726972f11119-8a95d089-f1be8169
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrAjcXABkSXR8hyi8vmKySgJzc4-xYyHZ1f-N-jcw2BZaBRG9kSZsn-Ie-ELG6c8Yd9Yw8IOdDLXnY0eJ6Hw40rJbkzVQYRpuMY-Us43NTAIY-6XXDQZZVI
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"F0R1m4ROYsciNnwndMl_XiDwMDc=/1EyRwx_bkki0DTxboZ1UtkqryVw="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "5306330653620430690",
         "name": "operation-1533172109087-5726972f11119-8a95d089-f1be8169",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "targetId": "153719909720778603",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:08:29.402-07:00",
         "startTime": "2018-08-01T18:08:30.062-07:00",
         "endTime": "2018-08-01T18:12:41.539-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533172109087-5726972f11119-8a95d089-f1be8169"
        }
  recorded_at: Thu, 02 Aug 2018 01:12:42 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrAjcXABkSXR8hyi8vmKySgJzc4-xYyHZ1f-N-jcw2BZaBRG9kSZsn-Ie-ELG6c8Yd9Yw8IOdDLXnY0eJ6Hw40rJbkzVQYRpuMY-Us43NTAIY-6XXDQZZVI
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:12:42 GMT
recorded_with: VCR 4.0.0
