---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTA4LCJpYXQiOjE1MzMxNzE5ODgsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.zDxHwpVu4xW-TExMIZx3vB7IOYUxWVhwpVEssWaIjke0VxhyWhpRJYDDNU_7R8pDcpa_i_gPQKh_0wir6UNGJq-M8qHOjuVXyJBKlwhW1Q5SFKHlYR2EnabxzEIQ5FczyKC0CW01nA36T8yVIfriEoeLEdosoHdMXP-lmuHGQEJulukmBhS1KwG4sK5q8xdm17iTzF-1BKsf4C8iNLk7925pmNbx5Qb_sQGNbGLTjk4M3svfg_-2vVwszxFZGff1zEKgxmNRuZMTBr-GHSi7J8pN47Hcbysv8LDB91yvvzPd38VqpLAFCDQPemhSlT7Buko0mSV5Ue-xz-jIEuQ65g
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.EloLBuhD2Y3xol-5MN19d4AkrX_H89dpT9xf5bBbLaFurjhagdA9V8b8w74viLLG8NeqxFrImSXjOgQRaAR4qgmefyPAYJiPw6Ybg3m6dsCBTKMhDEl2v2l6eLQ",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBuhD2Y3xol-5MN19d4AkrX_H89dpT9xf5bBbLaFurjhagdA9V8b8w74viLLG8NeqxFrImSXjOgQRaAR4qgmefyPAYJiPw6Ybg3m6dsCBTKMhDEl2v2l6eLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"OYIOaO4Q_3ipmgQ-csUsXLD6mo8=/Yg4l7Zbp_SNC0ID-8m3_5GAvpxs="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#firewall",
         "id": "8045980400705595302",
         "creationTimestamp": "2018-08-01T18:07:21.438-07:00",
         "name": "test-fw-allow-ssh",
         "description": "",
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
         "priority": 1000,
         "sourceTags": [
          "test-ssh-clients"
         ],
         "targetTags": [
          "test-ssh-server",
          "staging-ssh-server"
         ],
         "allowed": [
          {
           "IPProtocol": "tcp",
           "ports": [
            "22"
           ]
          }
         ],
         "direction": "INGRESS",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:28 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBuhD2Y3xol-5MN19d4AkrX_H89dpT9xf5bBbLaFurjhagdA9V8b8w74viLLG8NeqxFrImSXjOgQRaAR4qgmefyPAYJiPw6Ybg3m6dsCBTKMhDEl2v2l6eLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7850286804343187391",
         "name": "operation-1533172048533-572696f55160d-abe7b3f1-19311c6f",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh",
         "targetId": "8045980400705595302",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:28.962-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172048533-572696f55160d-abe7b3f1-19311c6f"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:29 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172048533-572696f55160d-abe7b3f1-19311c6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBnaszeIybU--0_M6zxzLU7QohO1Qt3CNFpHS-Lqiu_JVw1ddWkySBTTBqSfeolzh3wq6JiItyTyrZB2JeFFQduoYoG0GqjMSsqsnL2ApIvUTJxFSrrQRvbc
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gKgfz-1HQWM70cyNYobjBTL4MUk=/5LGniW-ySwBOBXzYXEu6fyqe3wM="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7850286804343187391",
         "name": "operation-1533172048533-572696f55160d-abe7b3f1-19311c6f",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh",
         "targetId": "8045980400705595302",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:28.962-07:00",
         "startTime": "2018-08-01T18:07:29.624-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172048533-572696f55160d-abe7b3f1-19311c6f"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:30 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172048533-572696f55160d-abe7b3f1-19311c6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsUFWjrpQUAnZesosZUvDzHsvsSVufryXiP-dIUrsadrzBvYO9vrfD9x-eZBDxhKIbckQ-bWLOga9k5x2mjBeoaJdLwMwHu185Vasn3-3HGwr53sFDbTIqg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Jb8r68u_vzZCdyVwThg2wovlv-4=/U2lmu8ZmtVT-RYipoSgyw26MbKw="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7850286804343187391",
         "name": "operation-1533172048533-572696f55160d-abe7b3f1-19311c6f",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh",
         "targetId": "8045980400705595302",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:07:28.962-07:00",
         "startTime": "2018-08-01T18:07:29.624-07:00",
         "endTime": "2018-08-01T18:07:37.953-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172048533-572696f55160d-abe7b3f1-19311c6f"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:39 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBkpuaPcq-n4fUHBVEp8Unoi1Z91ZAEFaUMWu_AfG1-_1dJ4BOL4iWjCZMqnOR3lrkRR4MnSeZr8vMd5PGfUtzcMmQby8ZIdcmibZZ5LbAzakPYljmXOsYdA
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/firewalls/test-fw-allow-ssh' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:39 GMT
recorded_with: VCR 4.0.0
