---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMDg4LCJpYXQiOjE1MzMxNzE5NjgsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.Ztdb3_mPPtlaNKJbuSqETdCXtSUhvmtstntFaxk8O0UKVKSp1tM1q-zz4RvUViqP7VyslYkhO8YCOuekF0tuhkOAU6UZY7yV_UaoWLl61oJ-j6P4speU6JVQR4TW4kCxrc734ZcuOZoEt5btYayhdU2tsMryN09f2I2sKdiUzAkCUi2u4vyE5Vd5ZWX-oUUd-yG_6glt3H-SC6cTOS6P-b_NivhcS4lwB2UnoM2tpvK_-vs6sm5Ah6CnWlXFiF7Ez70nhdI3keU9QdrezmfHDs7HGmogTAQG0rXoQcdExg2Lhec9TmBvazEI2WF2ZFrHeC4rujWu8T4blJpcLlj0EA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBrxfC5Y26Cyqvzdy9hVdhJxejgzlkj6ZF_fn1vmgNnLBQEf8EAmTb1YuOOW_9m67jhuosHYf6NlXwkRGz9GQBKWc7XiNSxUitungDRUZ09STO90se4vDcW8",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:08 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrxfC5Y26Cyqvzdy9hVdhJxejgzlkj6ZF_fn1vmgNnLBQEf8EAmTb1YuOOW_9m67jhuosHYf6NlXwkRGz9GQBKWc7XiNSxUitungDRUZ09STO90se4vDcW8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cujL7b75ifaMoO8hT_j2RQvhx9Q=/CcazJPOVYg6jdXq9U7gyvZlo_hg="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#backendBucket",
         "id": "1751394215655368662",
         "creationTimestamp": "2018-08-01T18:07:05.181-07:00",
         "name": "be-bucket-connection",
         "description": "A BackendBucket to connect LNB w/ Storage Bucket",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection",
         "bucketName": "backend-bucket-test",
         "enableCdn": true
        }
  recorded_at: Thu, 02 Aug 2018 01:07:08 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrxfC5Y26Cyqvzdy9hVdhJxejgzlkj6ZF_fn1vmgNnLBQEf8EAmTb1YuOOW_9m67jhuosHYf6NlXwkRGz9GQBKWc7XiNSxUitungDRUZ09STO90se4vDcW8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/backendBuckets/be-bucket-connection' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:08 GMT
recorded_with: VCR 4.0.0
