---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMDgwLCJpYXQiOjE1MzMxNzE5NjAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.qaadOhXLlEeoYuCxIeH5fSZidSJqa6JT_0wgt5Dy9d1jTqsthhTUtxwPBjVBsbb8_vhzvnDaot75raFZtbTIXAtz2qWv_bd9SeWcduZ1IrkFqrTBFtp1fhAdHz58N6op8csJTJ7DMs1XZr2SW0Vt-xXXnuDymhA0YDVW20VJq9rKCTLJRljW03OVYc-87JhrNwi7hCYO6YTillR51lJi7J5k6BBoWenkwg79PfQC_3EPIp7Iw2OCLYynbdj5pneeqPjK0LqCX5Cq9qq98ycGBQUZVV57-l1jawLeXL99a-njN9tllwX5hPI3GCu3b_p57w0pCM3w9irtqI7rcC5Vuw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.EloLBm3bFreRIB7ATiP7GYS0K3ba8FWCXkIylfcfpDRx9LRsGO9n5Wr4unavHX93bLBlr2sNJ8FkA_RHqpTVwH9Eal7xhJOYWMbL65HCtHpsMR2kMtJITMPpzac",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm3bFreRIB7ATiP7GYS0K3ba8FWCXkIylfcfpDRx9LRsGO9n5Wr4unavHX93bLBlr2sNJ8FkA_RHqpTVwH9Eal7xhJOYWMbL65HCtHpsMR2kMtJITMPpzac
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"_mLlFNoqVjsXNQHyhwVgOKthZfU=/01nYTv5FUShTSn3VhKM4srBCv8g="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 1.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm3bFreRIB7ATiP7GYS0K3ba8FWCXkIylfcfpDRx9LRsGO9n5Wr4unavHX93bLBlr2sNJ8FkA_RHqpTVwH9Eal7xhJOYWMbL65HCtHpsMR2kMtJITMPpzac
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Iob3CxynCQ3iEuguO-t_uWgDI6s=/Bo4iRT8tR8bknpEiOkShfydQubM="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#address",
         "id": "5128999017405999069",
         "creationTimestamp": "2018-08-01T18:06:58.103-07:00",
         "name": "test1",
         "description": "",
         "address": "35.203.156.232",
         "status": "RESERVED",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1",
         "networkTier": "PREMIUM"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:00 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBm3bFreRIB7ATiP7GYS0K3ba8FWCXkIylfcfpDRx9LRsGO9n5Wr4unavHX93bLBlr2sNJ8FkA_RHqpTVwH9Eal7xhJOYWMbL65HCtHpsMR2kMtJITMPpzac
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7518743551322089435",
         "name": "operation-1533172020551-572696daa1d59-f475f760-e5764376",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1",
         "targetId": "5128999017405999069",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:00.878-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172020551-572696daa1d59-f475f760-e5764376",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:01 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172020551-572696daa1d59-f475f760-e5764376
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgDROssFbxLtCQ7r565ySO33171vWe7ObXUlOPSyhokSsFeRH7ZHZZUZEV7Tz1i455SjbWctBb6XHYjJ3Rey86QCJ1JXnRu2xq0pavPUmgskZR2bmaab3aA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"BgvGd-CcE6XD9ZnFYqGvxABIxLs=/PdKAEL5gsUl5mtvNqgsE3ZIcu-w="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7518743551322089435",
         "name": "operation-1533172020551-572696daa1d59-f475f760-e5764376",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1",
         "targetId": "5128999017405999069",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:00.878-07:00",
         "startTime": "2018-08-01T18:07:01.453-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172020551-572696daa1d59-f475f760-e5764376",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:02 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172020551-572696daa1d59-f475f760-e5764376
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgwj8l-kdCN3UUwlUvmx-geYjsW_ykXQDZQC6dCrsSEu8AWch3oowPhaAzOabc6Dz8cAbXN2gyOhOyvtv-Z2AodeM110TXCeMw1A6ByhNEMmIL5ZbKOQa8U
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8baCrJlVJE2TKZIjZVu8LO48tks=/Y_mDKxjEHPdeEZhXMu3foUmf59E="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7518743551322089435",
         "name": "operation-1533172020551-572696daa1d59-f475f760-e5764376",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1",
         "targetId": "5128999017405999069",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:07:00.878-07:00",
         "startTime": "2018-08-01T18:07:01.453-07:00",
         "endTime": "2018-08-01T18:07:02.802-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172020551-572696daa1d59-f475f760-e5764376",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:03 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgwj8l-kdCN3UUwlUvmx-geYjsW_ykXQDZQC6dCrsSEu8AWch3oowPhaAzOabc6Dz8cAbXN2gyOhOyvtv-Z2AodeM110TXCeMw1A6ByhNEMmIL5ZbKOQa8U
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/addresses/test1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/addresses/test1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:03 GMT
recorded_with: VCR 4.0.0
