---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNTA1LCJpYXQiOjE1MzMxNzIzODUsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.XGP-wmUAnWxTjHndJ9Vw76vQy7ma1OaZhKLHsHlqwKyIuHG8Uk3aSyKqOyOoRailWYULuqVTHw2ynlk2RQuAxLgoXJUXcG7vL67BtpPL98Y1DI_zQabWSKdWXmr-pYVNXG4wThQte9W2MDeygLfCfRy-F-Ootd2OSLtMaTFw7WAuTznwnU-MHBmQetFDYFT7OISx1aUJUH-F3WVQW7ZP-Hl5NjEqvwEcUfuoX5RWpWTRZBx3G4LL_6ZhxmPaQa_nADnKU1_T8bC7Sf1kRfs2gyFMXjn1UKF60zX16riLnbwqOw4i0h3e9t-udXbBGUS3uwatXhqO2KKLfPvGf6lfsQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBrBWl3RHitdIsGUjalEmAGYs6_ANUDYe0A0mcgNUfxlbnqJPUZe6NHd60AAttd0-DumCoiN-lvituAQQ0sbqAvu8mSGFPkkMFcfuffEr5oxlMlrOMuP1vZ4",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:14:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrBWl3RHitdIsGUjalEmAGYs6_ANUDYe0A0mcgNUfxlbnqJPUZe6NHd60AAttd0-DumCoiN-lvituAQQ0sbqAvu8mSGFPkkMFcfuffEr5oxlMlrOMuP1vZ4
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"s0q5alz3SZQuEN_KFZPToSWwbr4=/X5Ifpt5QXAwacX7ph9-k6KuJ9hg="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrBWl3RHitdIsGUjalEmAGYs6_ANUDYe0A0mcgNUfxlbnqJPUZe6NHd60AAttd0-DumCoiN-lvituAQQ0sbqAvu8mSGFPkkMFcfuffEr5oxlMlrOMuP1vZ4
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"OTG7w0LRPkInLpmkrtZfyaMMhwY=/Pq5hRB6a0pdfGI_BfAZahOEhuw4="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#subnetwork",
         "id": "4532361457933739042",
         "creationTimestamp": "2018-08-01T18:13:50.025-07:00",
         "name": "servers",
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/mynetwork-subnetwork",
         "ipCidrRange": "172.16.0.0/16",
         "gatewayAddress": "172.16.0.1",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers",
         "privateIpGoogleAccess": false,
         "fingerprint": "f5Ax_7tVJVI="
        }
  recorded_at: Thu, 02 Aug 2018 01:14:06 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgUscby6qmmBTRJ4iWLZqiRsPKRYzbCPBFI_gClsYIB8kKxnVtzuNJPmni9ktDo1NN4jWUWGnKzgQ4QAgk6dhQ9d6V_uPOqEeWYKxQKQkPZef4Uaoh7N-80
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "2837446090235569201",
         "name": "operation-1533172446091-57269870756fa-3e046c10-4fc5db52",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers",
         "targetId": "4532361457933739042",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:14:06.581-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172446091-57269870756fa-3e046c10-4fc5db52",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:06 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172446091-57269870756fa-3e046c10-4fc5db52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBmPwLYqWnqw6CCfZio5i36JAkyzqUPZF9Zm2I3DUdnZToHCYt0_ki50g7YBIKDJigDvSIS27cooZaNMmoOO-Lw16pgHOkWZ2YZ2GCmSKsWNeRxTfrU3wLqs
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"R-lmJROjjbuL3z5K19kMy1Fxmco=/aDsR5XsetxR5z3dMYawBf_bCKLM="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "2837446090235569201",
         "name": "operation-1533172446091-57269870756fa-3e046c10-4fc5db52",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers",
         "targetId": "4532361457933739042",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:14:06.581-07:00",
         "startTime": "2018-08-01T18:14:06.911-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172446091-57269870756fa-3e046c10-4fc5db52",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:07 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172446091-57269870756fa-3e046c10-4fc5db52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBtdIoBPAogOvz_dH4kFMiSLG0T7-zyaGsEvIbAshR_OfG32yMxdIQd6xk4KZtfPAe7xcAdGPjzk_X2G9P0x4Gx9oKtAcmTmb9OdsjxD20TdUI1LvY_Y-mLE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"jZkWVdOAadk3NJ7s37QVUSj_L3I=/dNeOlCGManMbPjf7MTzKhjKXyik="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "2837446090235569201",
         "name": "operation-1533172446091-57269870756fa-3e046c10-4fc5db52",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers",
         "targetId": "4532361457933739042",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:14:06.581-07:00",
         "startTime": "2018-08-01T18:14:06.911-07:00",
         "endTime": "2018-08-01T18:14:20.293-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172446091-57269870756fa-3e046c10-4fc5db52",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:21 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/subnetworks/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrqGoG8OaTNeaLRegQRyf_oqMBZ3xc8hDygib6JzmYq8TqOA911UnShdVvIRP44AweN09uJrjDnR9RJnaPhWOk7N3QGQQI06u6f1FFUWmDX0VNSl6KNIZ7s
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/subnetworks/servers' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/subnetworks/servers' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:14:21 GMT
recorded_with: VCR 4.0.0
