---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTMzLCJpYXQiOjE1MzMxNzIwMTMsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.Cs44E4Ttvx9CiEoIlGw8O4Xi4_M9gvEyCHjssi-W24U9DufCt_eBcEYDdO3okCNY4AVUcwQ-NQAW0fM4hLsKYxqAHdhNI_XWiQmaGDrJMZSe72ADsYMCzL8CSAEq8q7Q2qJsje9glqVqYb_Un2zkInQs_Y8ggWOV-XMZp1kuR58BlFGcLdfCT0BHyPz45VLjL1U_yti5G6aMMK9myDW6jxOLYkG0W4Clj3tao7cX6hfLg_ojc9rnnbq9vKRLvS1AR6uvHPuFbhLVCuJjjwDsxy1AZHowZRxa5UiPZ4G2BFifxZLpZGhZ4ZFrxu4WzsfkwV6MAo6d06192Av2k7O0Fw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBhWy2UZdRJtIafrJDwVzbAnNtf6ejsdvBhUBKMYVyI6o5Y6I79aJ_vkBqEAbmy4ffIto0OKcIMUt3H0cL0J5Hha-s1e8y3XxKqXcAdtUw5xSwaciBzGYl90",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBhWy2UZdRJtIafrJDwVzbAnNtf6ejsdvBhUBKMYVyI6o5Y6I79aJ_vkBqEAbmy4ffIto0OKcIMUt3H0cL0J5Hha-s1e8y3XxKqXcAdtUw5xSwaciBzGYl90
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"oeVYZzTHQoNC2-HmqRgcmW1j8YI=/pRRlNe_0Qecj1fi67wbgn9dU8Kk="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#healthCheck",
         "id": "1738279567376770952",
         "creationTimestamp": "2018-08-01T18:07:51.841-07:00",
         "name": "my-app-tcp-hc",
         "checkIntervalSec": 5,
         "timeoutSec": 2,
         "unhealthyThreshold": 5,
         "healthyThreshold": 10,
         "type": "TCP",
         "tcpHealthCheck": {
          "portName": "service-health",
          "request": "ping",
          "response": "pong",
          "proxyHeader": "NONE"
         },
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:54 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsuiScOKtMSMR5qh7AmlJHv1aeuwwhxJVwxVb1m51CQ5Yy_dRT7JGYHUjPytsxqbLMtWWKgoep8ZygZAharOQRsjKYy4fIi80Ad5Gie-XyG55UYqMXksja0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "8838712680715904901",
         "name": "operation-1533172074086-5726970dafe70-0e488ff1-948c62fe",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc",
         "targetId": "1738279567376770952",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:54.467-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172074086-5726970dafe70-0e488ff1-948c62fe"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:54 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172074086-5726970dafe70-0e488ff1-948c62fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsYFz9iAuWyJIIMuNmLhwsdU2ahn4dEGuuWhRcodtdSAWc0WAb7TvhaSWm5aOquYokDsC-mdeYPqIQCeCy6CoAIslZmdDyQY1wnSpVPjgR2YVV2Z2s4ZA0Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"yMlH6lcrYLhG7fsMGc3OJ7dsfwg=/WKZ4LtYPTfC5QUjmhC8ycyruwmw="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "8838712680715904901",
         "name": "operation-1533172074086-5726970dafe70-0e488ff1-948c62fe",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc",
         "targetId": "1738279567376770952",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:07:54.467-07:00",
         "startTime": "2018-08-01T18:07:54.796-07:00",
         "endTime": "2018-08-01T18:07:55.583-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172074086-5726970dafe70-0e488ff1-948c62fe"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:55 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBs_eDbi9jzMwz1Xz-X4PNQBe3YTYVR37RLSWDhJVTy0YzlSiqojkpC3Blj67aD44DO90CJHhDg4c8WsC-NV-UKcMmVU28cDUFuni7JYnEeJTV9KMNFZebEs
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/healthChecks/my-app-tcp-hc' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:56 GMT
recorded_with: VCR 4.0.0
