---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNTI1LCJpYXQiOjE1MzMxNzI0MDUsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.0Y1Sd0BFFYm_aKG4SfyvYRVb8g9RKmZgyfg_21kestf53STzfMGU5EqttdeLmmEHxVGonYHV6eu4fI0gYC2yqz0Yz8zcljjWONbg68W_EciDQjZfa35moBK5uQJ5CkOw6jrCfMAAiy4ou0K0tFx9aIgPF6iRPf1TzhETushnTpp_HPx5wgXubTxUEKe8oFLtjdisU3ii0yUFQF4fOVpqeIvYosCHvrQVMunIocdeG0tOnS5SP9prHELb4EETwhfoWDMcrrOqSUQrnkF21i6d1fPgcJJNBtvQaAmiWc_08_7m7IdfhyEtILMc9r2ujRYo9bBoT1g3yKjwSUci_hrddg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBoWAwpKw71nb33n6Gvx6AjAsCQmRQa_WQuvQQ78dtp9nPHDoj_rZFgGRaHOxiUnhRf0Ek8Xe_4mU5VibiAdpoePzm2f3BBrSpxsoRAe9xACCmGpbF9PPqBM",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:14:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBoWAwpKw71nb33n6Gvx6AjAsCQmRQa_WQuvQQ78dtp9nPHDoj_rZFgGRaHOxiUnhRf0Ek8Xe_4mU5VibiAdpoePzm2f3BBrSpxsoRAe9xACCmGpbF9PPqBM
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"zK1cvuzVxpJerQt-aH_jv9-lQ9g=/Y3O-Ua3KLEHjpv_1n_3mnOt0uBc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBnjZaU0AMgwgD17lMw9h8t1rzMWgsA8SKSx_LI7cTQg87MxtZx9FmSW8QcipbC4dR-9R_NLrZSSo4qAPIJwmbf9WvnBkaPhpTabnKu7qlNiJBvI5CizuMRE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"u7-Ri2SYrKZagrCVDjTMX_lnzLY=/3WIJIBYQdWz2T_j3xl0N_f8BK58="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#targetPool",
         "id": "5130079485148783616",
         "creationTimestamp": "2018-08-01T18:14:23.852-07:00",
         "name": "test1",
         "description": "",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1",
         "sessionAffinity": "NONE",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:26 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBnjZaU0AMgwgD17lMw9h8t1rzMWgsA8SKSx_LI7cTQg87MxtZx9FmSW8QcipbC4dR-9R_NLrZSSo4qAPIJwmbf9WvnBkaPhpTabnKu7qlNiJBvI5CizuMRE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "733217646284104733",
         "name": "operation-1533172466212-57269883a5ca1-994565d7-9a38b765",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1",
         "targetId": "5130079485148783616",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:14:26.558-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172466212-57269883a5ca1-994565d7-9a38b765",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:26 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172466212-57269883a5ca1-994565d7-9a38b765
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBmxLklbi-yBy3sVEACGfPhSNyyq_kSlWpDI4B0LlJqoeK134RV3XB56fzvwZC0MLWUIuHcxQ2FKqdOxY7Bzt-9gXqKi0I9z4bWySfkzm0DXsyfCtRREVFCA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"fsIUpCfxtqhLrw19dP_UBjvbJN0=/vlQZtI7FZ7YSKS4apFKfveKGIv0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "733217646284104733",
         "name": "operation-1533172466212-57269883a5ca1-994565d7-9a38b765",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1",
         "targetId": "5130079485148783616",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:14:26.558-07:00",
         "startTime": "2018-08-01T18:14:27.203-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172466212-57269883a5ca1-994565d7-9a38b765",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:27 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172466212-57269883a5ca1-994565d7-9a38b765
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBrVx4qp-bNIkHW59U95u6Csrp3kyz80r-ka6gwW-KmjxzztZeXm7FgqAlBbTPZxiqqoMb0L1Ebw6BjgSt018B9paKBw1IUPEaETpAi3_xS48LNTsFa9WHA0
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"NMpWqsYuzbadTZcH3dV_EBe94og=/ZnpK3dg1O7Qgfq9LN86G-0KH_as="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "733217646284104733",
         "name": "operation-1533172466212-57269883a5ca1-994565d7-9a38b765",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1",
         "targetId": "5130079485148783616",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:14:26.558-07:00",
         "startTime": "2018-08-01T18:14:27.203-07:00",
         "endTime": "2018-08-01T18:14:28.131-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/operations/operation-1533172466212-57269883a5ca1-994565d7-9a38b765",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1"
        }
  recorded_at: Thu, 02 Aug 2018 01:14:29 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/targetPools/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBnEkLvRcje6S9bzSviGF70etfomYM3J5A64-iYf6TdSA8biHxO__vKPoeUthI_lCGbv1QtxvDlWrVff6fy2Yj6t1fj2HLxD_3pGGXcsNxOMeFose5LPlLLA
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/targetPools/test1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/targetPools/test1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:14:29 GMT
recorded_with: VCR 4.0.0
