---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDU0LCJpYXQiOjE1MzMxNzIzMzQsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.hV7-RKqDV5OwSSH78fnvk9i1lO5cxeZNYTJkJy0HNAxpvJ8mb1ufGVkmrwMyTczk_KTlBnCnx2wnuVu6GfxTRbqXhfF4HmZ9Tq_vFRcEfnO9Sbl8x02IBO705AcDwwfY8BzMuQWM8JRYbvW8Q1MHti3kuvZogALu1fG-42RglgKZ1-jwdzzmAYDhwaazcJdOsWiGPfHMtLugxS8PhzDWdaVOvBKbIoClcSfZgauQQqH_PwCDDCY8ONny71KAqiyd8rYcvrVC5s5_lm1LMiUEsgllwyhhrEpAHG0U4imrq6UKVFf6bc8K3kZ2MmKiDWNo6B_R62fso1ZsVq9NIdzW-w
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBogtO4ti3i6f-QDU5ubSXn9gZoe2uT1oQeQwuxcGUpKBADlbgkU3xg6f3rktq9HGKnHHtdfBEYbVyH3p7IY_B_s1VDtrKWIT_3AFOPt0M5Vgv-MJqfIsWBA",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:13:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBogtO4ti3i6f-QDU5ubSXn9gZoe2uT1oQeQwuxcGUpKBADlbgkU3xg6f3rktq9HGKnHHtdfBEYbVyH3p7IY_B_s1VDtrKWIT_3AFOPt0M5Vgv-MJqfIsWBA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5CvmYCFbP38bt7xLnxOpXwiHYRs=/LjC6V5RNQxEpsMM9SaLyBWnBZs4="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#route",
         "id": "289688768901801039",
         "creationTimestamp": "2018-08-01T18:13:04.597-07:00",
         "name": "corp-route",
         "description": "",
         "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/my-network",
         "tags": [
          "backends",
          "databases"
         ],
         "destRange": "192.168.6.0/24",
         "priority": 1000,
         "nextHopGateway": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/gateways/default-internet-gateway",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:14 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBogtO4ti3i6f-QDU5ubSXn9gZoe2uT1oQeQwuxcGUpKBADlbgkU3xg6f3rktq9HGKnHHtdfBEYbVyH3p7IY_B_s1VDtrKWIT_3AFOPt0M5Vgv-MJqfIsWBA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "2009380664764261445",
         "name": "operation-1533172394355-5726983f1e939-d06dd71e-20b2eed2",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route",
         "targetId": "289688768901801039",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:13:14.829-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172394355-5726983f1e939-d06dd71e-20b2eed2"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:15 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172394355-5726983f1e939-d06dd71e-20b2eed2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBvQhFsvbuaX4zlw7OrUUzZ2Liey4dpBBnWUrLvkKNPbMJg4pRMFDM-q8KEwflH_qGqkdHhD5wE3jTqUIVlr5AwxPZ4AuxaFGoW1fYbk7n1e0c5YxpwwZmY4
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"DaW9YYxDgQf6rY9yub8_MOc-K0U=/Vl8KYks8r_ev7PqEvib2WNEMAa4="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "2009380664764261445",
         "name": "operation-1533172394355-5726983f1e939-d06dd71e-20b2eed2",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route",
         "targetId": "289688768901801039",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:13:14.829-07:00",
         "startTime": "2018-08-01T18:13:15.488-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172394355-5726983f1e939-d06dd71e-20b2eed2"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:16 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172394355-5726983f1e939-d06dd71e-20b2eed2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBjegkq_Z74UsR4uDt27r0_HV4AlmLWb_m1WE4f0mKkS89Nk0yQMEvGhN9X3dbwefSeEvNz8SB6gwKGWwrjWXPd_3nWO46A24WOW680Ej72wk0lVCnfnLyQg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"FoQxBnXV3k_riHyEpv5Nysxkb34=/0HtuG8uuB5LTysIp-GNr8HZUBIc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "2009380664764261445",
         "name": "operation-1533172394355-5726983f1e939-d06dd71e-20b2eed2",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route",
         "targetId": "289688768901801039",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:13:14.829-07:00",
         "startTime": "2018-08-01T18:13:15.488-07:00",
         "endTime": "2018-08-01T18:13:24.354-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172394355-5726983f1e939-d06dd71e-20b2eed2"
        }
  recorded_at: Thu, 02 Aug 2018 01:13:24 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/routes/corp-route
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBjegkq_Z74UsR4uDt27r0_HV4AlmLWb_m1WE4f0mKkS89Nk0yQMEvGhN9X3dbwefSeEvNz8SB6gwKGWwrjWXPd_3nWO46A24WOW680Ej72wk0lVCnfnLyQg
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/routes/corp-route' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/routes/corp-route' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:13:25 GMT
recorded_with: VCR 4.0.0
