---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMTI0LCJpYXQiOjE1MzMxNzIwMDQsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.Vt_Y7KZhxKGQYiHHAVbuNRyLEzbeg93TrpQWkx3Ibon_2uywSfWEnnnGd68e-vmvwAadwPWqt5SZT2XGRzOBIUv_FVRCFP9Zfr4euKgac5TZmvd1fotjguDtu4YJbtLLfV_kn9WqZbdpe8InMjSJjWMCPHUkaZRdYJb0cRUhKS591q3LDxhHqqtZ51RF8wegYHXufvTTBmio0ZFoXBTj6NS5aoklZ7nw5ecAUg2QPjdvjKy707Y1n6HzAjBU2R_A4V-EvY6PVvNYU4M7tJtvQjLyWsFZHARqAeacwQ9LQl5jK2nRLPKDhZWRsATar5plzyzDZoUfDrtIOGj_5H5eyw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBoNWV_nhH2BQA7p_TZtHsn6oCvUuwGKDszhkdG1s6AmTC26Tky12DIwokQC-V8v2DUhplhpaI7O4FpBrFfT8mDdut1HKmGU1Xv18NBDSBPaoPkMdjboWSrs",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:44 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBoNWV_nhH2BQA7p_TZtHsn6oCvUuwGKDszhkdG1s6AmTC26Tky12DIwokQC-V8v2DUhplhpaI7O4FpBrFfT8mDdut1HKmGU1Xv18NBDSBPaoPkMdjboWSrs
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"NNCupxwWaB3W6bEfj4wBPmcFqAI=/sHy1UjLQVgJcxYb8NTxnAeZ1VaM="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#address",
         "id": "6112103755716487090",
         "creationTimestamp": "2018-08-01T18:07:41.104-07:00",
         "name": "my-app-lb-address",
         "description": "",
         "address": "130.211.32.208",
         "status": "RESERVED",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address",
         "networkTier": "PREMIUM"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:44 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBoNWV_nhH2BQA7p_TZtHsn6oCvUuwGKDszhkdG1s6AmTC26Tky12DIwokQC-V8v2DUhplhpaI7O4FpBrFfT8mDdut1HKmGU1Xv18NBDSBPaoPkMdjboWSrs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "5953872418887952271",
         "name": "operation-1533172064423-5726970478c5b-6948511d-414f8667",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address",
         "targetId": "6112103755716487090",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:44.848-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172064423-5726970478c5b-6948511d-414f8667"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:45 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172064423-5726970478c5b-6948511d-414f8667
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBh6t4molEsDGs6_GPimWu17EXk5oLs24gPIGbdGn0FnSXQowiic0r7-UP5m6JTDyvr92fBLI0XB8rOOfsrG0EvfgOpqhhRb3m1T4vDN4EF4KzywzfzJrQ4c
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"tVREAKH9VqWFLBgmo9jXFvsSPNI=/o3IGJsMJtkhCDT_Rg9ThWkwUFJc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "5953872418887952271",
         "name": "operation-1533172064423-5726970478c5b-6948511d-414f8667",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address",
         "targetId": "6112103755716487090",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T18:07:44.848-07:00",
         "startTime": "2018-08-01T18:07:45.792-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172064423-5726970478c5b-6948511d-414f8667"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:46 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172064423-5726970478c5b-6948511d-414f8667
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBlpezpd4yRwoEmPxCEAM5TW2B9igqRkonpZtshnOarGSDkOR2CTDjrGfoVsaVWxh7njcoCuGCM2LPK9-hkqHkFBiP-yWHb9bE8VLmatKhoEJnARp8KJKxm4
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d8LBEowgcCbwbAlSGxhQ5Vs8ZM0=/IKyEsH_J513eYCyKZOXUWpWNkDQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "5953872418887952271",
         "name": "operation-1533172064423-5726970478c5b-6948511d-414f8667",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address",
         "targetId": "6112103755716487090",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T18:07:44.848-07:00",
         "startTime": "2018-08-01T18:07:45.792-07:00",
         "endTime": "2018-08-01T18:07:48.704-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/operations/operation-1533172064423-5726970478c5b-6948511d-414f8667"
        }
  recorded_at: Thu, 02 Aug 2018 01:07:50 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/addresses/my-app-lb-address
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsEwuiwDLd_Eiv9TeyJclAxYNeCeKKRCwNmWruRDby4e16f1ElmfnwYlH13QCWr1h103HsUAHIEpfNyYrJVRbIBCzLS3gV5pbFBu8VavXHDxl821jD_W7Wk
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/global/addresses/my-app-lb-address' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/global/addresses/my-app-lb-address' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:50 GMT
recorded_with: VCR 4.0.0
