---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMDc2LCJpYXQiOjE1MzMxNzE5NTYsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.LvZHvHA0LFYlvs5L_Wb9sNmB1JOZ2DABgppj2P0qy3P18MsXbTXlGswA0Mtx8Bu6tsx8yKLDsn85Rn8ZmJnYrmPE21X4KKje5rY79daMo0vuu1pTCFrqP2RRgS4b1kiQPGEJfKM8cc6aBKoww5g2zDbFXMSy_87pBF_2BtBhdo4riC13J3PuKQu4OM1NaChsGNbqOORe1-nu0SF_Xbbsr_IHtZOY5Nq8XNzKwQ2lXNYNVoLv5i0gcA1Ur-kbvvDup40aGkk0w5GVEokjztFp2_NBnAFaDNg526uBPjZKsmZeNtfLdIYke7oSOUDHhp0CrMD-9s02drCl9mOcJlIJWQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBlhoT9NDog_wveDuurDbh9QYMxpAV0GPpkECSJVqN00936CmLk_dWB56t_YyhYBuKl2xtdCabmEkA_rxWTmAjpHLBMPXT94PEeLWO37At4eGm_0CID6RssE",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:06:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBlhoT9NDog_wveDuurDbh9QYMxpAV0GPpkECSJVqN00936CmLk_dWB56t_YyhYBuKl2xtdCabmEkA_rxWTmAjpHLBMPXT94PEeLWO37At4eGm_0CID6RssE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"BiNucjPfjuxk5gKtrPWrD9BBIDQ=/7-mxJ4ASq6BHSo13ai4OOQi8DmM="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1",
         "description": "us-west1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-c"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 0.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 0.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 0.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
      [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1/addresses/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBlhoT9NDog_wveDuurDbh9QYMxpAV0GPpkECSJVqN00936CmLk_dWB56t_YyhYBuKl2xtdCabmEkA_rxWTmAjpHLBMPXT94PEeLWO37At4eGm_0CID6RssE
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/addresses/test1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/regions/us-west1/addresses/test1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:06:56 GMT
recorded_with: VCR 4.0.0
