---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyMDg5LCJpYXQiOjE1MzMxNzE5NjksInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.mg172grszQQYotiyN90R6CVywgSqdNG2vyneJmeygaVpkgsUyIm7Nmof0KflKet2SkEc-weUnybmT3V_iOigBNbxFXqpFonGfq5SA6w1333Hzi_nRAFsi9wGb96uPiCbiHg5HI-1jqWCGgEFzshZycc75iq4d4e1az5d8xnRXI_sZgcWWxd8BYtyJJN_rPxmkrWoAvc8iqHl8dheZxCumowCxoboAMzQA0x4gzrZmntbbEOeIKNFdbuA528pBTFUtaLiSNZFYagqdObeJ763nY49laxlu3P7tLirjYdXWxAZ9onmen3IeWczFmcCr-_hScLZnn4Xa_rGcd9v0FzRuA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBsFvB7vJWeJoL4Yb5qmABN9CRW_Gqf1j98ge2PV5-Bw1Um5Lsv2OXt0-D9qcqBg46-HCWdkXzY52GVISyougCt0zu2BIWXqMh_svhyQmDWHuKc00Rv5sYm0",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:07:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsFvB7vJWeJoL4Yb5qmABN9CRW_Gqf1j98ge2PV5-Bw1Um5Lsv2OXt0-D9qcqBg46-HCWdkXzY52GVISyougCt0zu2BIWXqMh_svhyQmDWHuKc00Rv5sYm0
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"rsARE5qlVheEaPFQBbeZDg50O5A=/dQos6iU0K6Obtv1uyMirNQMmlfU="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:07:09 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBsFvB7vJWeJoL4Yb5qmABN9CRW_Gqf1j98ge2PV5-Bw1Um5Lsv2OXt0-D9qcqBg46-HCWdkXzY52GVISyougCt0zu2BIWXqMh_svhyQmDWHuKc00Rv5sYm0
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/data-disk-1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:07:10 GMT
recorded_with: VCR 4.0.0
