---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDM5LCJpYXQiOjE1MzMxNzIzMTksInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.CI_LAPYothvj9sUrG1HqMKd5U1eC_oCTNslIm7hyE3oVHd4I_Ho4E81UH7FLWyGAp7XZrG8JFtTeGDOfulNanMWsYrET8XutIwbmkkP4OAACge0bHbJNGKDcS7JdfNxKFUGDKDQc3EjldM4woiAdZHM21hylrxlhObaaRvnj-enMnq7Zp3GfCxGR40dFijrXlBmiHfGEHVWLOtz3XvfOFYiLC9lERe8ueSZXhuHpT_N85QYGmrc5sBEteF_y7Bh10yY3Y5VJeQj3OEdJ8M1l02JOju5Z4Gzo0HIEWeyeVvEHorgmM6rGZ0IwxbMOqbJvVrqEk2K83NV0e89z-eaYZQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBgoq4UKZfRAbUu_7ZtQDOtIqz4YnxZItEoMYoS_RpbR2AcsygALjelSmn5pLXn68DYFBX89A1z4V72yiSv97H3HnB-j0U8_ClCwRGOqhx_ckwT5phU3HlD0",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:12:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgoq4UKZfRAbUu_7ZtQDOtIqz4YnxZItEoMYoS_RpbR2AcsygALjelSmn5pLXn68DYFBX89A1z4V72yiSv97H3HnB-j0U8_ClCwRGOqhx_ckwT5phU3HlD0
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"KhEcxHStOi6iFPV_39gQenOkfmU=/Baj1-07jDyMXGTGwLvAc66QkQM8="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2210",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-west1-a",
         "description": "us-west1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-west1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:12:59 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-west1-a/instanceGroupManagers/test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBgoq4UKZfRAbUu_7ZtQDOtIqz4YnxZItEoMYoS_RpbR2AcsygALjelSmn5pLXn68DYFBX89A1z4V72yiSv97H3HnB-j0U8_ClCwRGOqhx_ckwT5phU3HlD0
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-west1-a/instanceGroupManagers/test1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-west1-a/instanceGroupManagers/test1' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:12:59 GMT
recorded_with: VCR 4.0.0
