---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTcyNDIzLCJpYXQiOjE1MzMxNzIzMDMsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.g9gB0VQpSgk6yI28q6SjWKGQ0s62sGA4rJvAz2tPQlRmcPa741AFCS3rK0X6Y5dtqtoNwaPqWlhzzV_2oUFZyIur9hik2x5uzrQCzEqkoZuCW4oN53j6IhmqkLIL0kslOhU40WHSn8bBhVDoBHFxGWKrNEufxDJGI3oP4ovRd8Gq7w00T4_pCRFAa5244tMTQfamCWusiduq5_6jxLPcMYp7KM8URggLyLQ4dkfoWOuOUn-zxzltj-8QdvbU-H_SaXIsNYI6qiyn-21fahBXydSIPc0LfUr-1L3boqSmsGrqC7CzAYyDr4w6zrCTkZlqTvHDDnzorKaDq981bn3yBA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloLBiTHPE-cRvHEjyJRlCNhoTFCkVtLZH4pt_WogLtzqG1AQ2QcRHnm91ib1F4v3zx0GSs4ekgDBolGd-LcxfR0s9vp9ZyC8kQuO0hQ4R78_R-wf8RUsIyiLLA",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 02 Aug 2018 01:12:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBiTHPE-cRvHEjyJRlCNhoTFCkVtLZH4pt_WogLtzqG1AQ2QcRHnm91ib1F4v3zx0GSs4ekgDBolGd-LcxfR0s9vp9ZyC8kQuO0hQ4R78_R-wf8RUsIyiLLA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"GiJUROB2paQp2C9QFG5KykRLUAM=/iqSikKBe2CZ1r4pkYvauviMy-do="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Thu, 02 Aug 2018 01:12:43 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloLBiTHPE-cRvHEjyJRlCNhoTFCkVtLZH4pt_WogLtzqG1AQ2QcRHnm91ib1F4v3zx0GSs4ekgDBolGd-LcxfR0s9vp9ZyC8kQuO0hQ4R78_R-wf8RUsIyiLLA
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
         }
        }
  recorded_at: Thu, 02 Aug 2018 01:12:43 GMT
recorded_with: VCR 4.0.0
