---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTYyNDIxLCJpYXQiOjE1MzMxNjIzMDEsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.QZezJ9NZFMnQ0ZgMm5rjpx3VIEX5bJda-UvneO9XQH2c9dVPl97ANrOo2L84X_iNxowJuI8q25etvKGvn4WiC9HySM4wCk342mzMqKzAjYJsWl6G6e4wZkQKjbBENE-xx2OX4GfYi3vgMDbylcm_S14FIt8OGyJm8tEk5oAlChg-LPTYTevKV_qKk8Zlp-IgE3h4W8zsNc-3C6_OliJXlGZv4o2lyxMNsXU3SGFkoqB-Gf0gUkDKlbZl1T5b38k3r2Gnx9zMq20HFXVnZJ1njNcMCZFUwgObfkZgJW7lO8yferSggbF-Z-KtC591o64tNEkCaJF3HrjgYPu7KqLcJw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloKBqhsf4Dh-K2xq4dnETKe0Ocrk0gJp07dzckiI3otPJVg1r6yp6CWU3_foo25nS1R6JsjTOozh_-4y7IRE4d0ePNob156xjZXac4Hk_WfZ5-fXYoFf4TrEso",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 01 Aug 2018 22:26:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBqhsf4Dh-K2xq4dnETKe0Ocrk0gJp07dzckiI3otPJVg1r6yp6CWU3_foo25nS1R6JsjTOozh_-4y7IRE4d0ePNob156xjZXac4Hk_WfZ5-fXYoFf4TrEso
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6y73OJKN5bdYevcnBLvBNafe1o8=/MJxWnMi-lbW63nMG86sGm8CZ5FY="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Wed, 01 Aug 2018 22:26:01 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBqhsf4Dh-K2xq4dnETKe0Ocrk0gJp07dzckiI3otPJVg1r6yp6CWU3_foo25nS1R6JsjTOozh_-4y7IRE4d0ePNob156xjZXac4Hk_WfZ5-fXYoFf4TrEso
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fo8SK7VzgP9exuI9xSDRHr7uJ_s=/NKY1NcEv0gLZpIlXReaWU9swQLY="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#disk",
         "id": "5218979836387626372",
         "creationTimestamp": "2018-08-01T15:25:48.398-07:00",
         "name": "instance-test-os-1",
         "sizeGb": "50",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "status": "READY",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "sourceImage": "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-1604-xenial-v20180724",
         "sourceImageId": "6243803748120370197",
         "type": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/diskTypes/pd-standard",
         "licenses": [
          "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
         ],
         "guestOsFeatures": [
          {
           "type": "VIRTIO_SCSI_MULTIQUEUE"
          }
         ],
         "lastAttachTimestamp": "2018-08-01T15:25:53.387-07:00",
         "users": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test"
         ],
         "labelFingerprint": "42WmSpB8rSM=",
         "licenseCodes": [
          "1000201"
         ]
        }
  recorded_at: Wed, 01 Aug 2018 22:26:01 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBqhsf4Dh-K2xq4dnETKe0Ocrk0gJp07dzckiI3otPJVg1r6yp6CWU3_foo25nS1R6JsjTOozh_-4y7IRE4d0ePNob156xjZXac4Hk_WfZ5-fXYoFf4TrEso
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"i9NtSd5_lVDo3dySzGkzIDbLlko=/so0ej3s9XRWpQEDTwZzGpClcXvk="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "1942981909161036014",
         "creationTimestamp": "2017-11-30T13:20:01.581-08:00",
         "name": "default",
         "description": "Default network for the project",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
         "autoCreateSubnetworks": true,
         "subnetworks": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/europe-west4/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/northamerica-northeast1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/asia-south1/su[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBsPG3gkHrdwP8-aLXGeCZFHRdiys0Gle6jK1iT2cfAZ-nX1_Z8Og5x9Mzax-HiFm3l2jhcE3jdrj7NvHOulDI6nLjZGBX2OHq3cFUDnqfnuEHrNt4ugTVNY
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"qTpVMQBVVo-Okz129Kcru8A9GME=/fdSXTLgnyjdqx30Z40gA4x72RDg="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1",
         "description": "us-central1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-c",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-f"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 2.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 60.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 3.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 1.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
     [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBsPG3gkHrdwP8-aLXGeCZFHRdiys0Gle6jK1iT2cfAZ-nX1_Z8Og5x9Mzax-HiFm3l2jhcE3jdrj7NvHOulDI6nLjZGBX2OHq3cFUDnqfnuEHrNt4ugTVNY
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"88653b6-5RVBx0nltEvr0xkFeRI=/Rt0L1rwD60hTBu3b4_CFrPJvJLc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#machineType",
         "id": "3001",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "n1-standard-1",
         "description": "1 vCPU, 3.75 GB RAM",
         "guestCpus": 1,
         "memoryMb": 3840,
         "imageSpaceGb": 10,
         "maximumPersistentDisks": 32,
         "maximumPersistentDisksSizeGb": "65536",
         "zone": "us-central1-a",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "isSharedCpu": false
        }
  recorded_at: Wed, 01 Aug 2018 22:26:02 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBsPG3gkHrdwP8-aLXGeCZFHRdiys0Gle6jK1iT2cfAZ-nX1_Z8Og5x9Mzax-HiFm3l2jhcE3jdrj7NvHOulDI6nLjZGBX2OHq3cFUDnqfnuEHrNt4ugTVNY
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"CGUmm8zU6GUP_GcbKf0yiFi5Wsk=/HVq-kA0yCbOKkom1n0NDunehNQQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#address",
         "id": "8653093024631897164",
         "creationTimestamp": "2018-06-28T17:51:47.540-07:00",
         "name": "instance-test-ip",
         "description": "",
         "address": "35.188.52.167",
         "status": "IN_USE",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip",
         "users": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test"
         ],
         "networkTier": "PREMIUM"
        }
  recorded_at: Wed, 01 Aug 2018 22:26:02 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBsPG3gkHrdwP8-aLXGeCZFHRdiys0Gle6jK1iT2cfAZ-nX1_Z8Og5x9Mzax-HiFm3l2jhcE3jdrj7NvHOulDI6nLjZGBX2OHq3cFUDnqfnuEHrNt4ugTVNY
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"kFwKhomiyzuMIY0dhieyhOQVhyc=/7fEdfV6jvOJA5u7-gMYKq0jYuVU="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#instance",
         "id": "6284204078814694815",
         "creationTimestamp": "2018-08-01T15:25:53.300-07:00",
         "name": "instance-test",
         "tags": {
          "fingerprint": "42WmSpB8rSM="
         },
         "machineType": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "status": "RUNNING",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "networkInterfaces": [
          {
           "kind": "compute#networkInterface",
           "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
           "subnetwork": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
           "networkIP": "10.128.0.3",
           "name": "nic0",
           "accessConfigs": [
            {
             "kind": "compute#accessConfig",
             "type": "ONE_TO_ONE_NAT",
             "name": "External NAT",
             "natIP": "35.188.52.167",
             "networkTier": "PREMIUM"
            }
           ],
           "fingerprint": "itHulOyB9y8="
          }
         ],
         "disks": [
          {
           "kind": "compute#attachedDisk",
           "type": "PERSISTENT",
           "mode": "READ_WRITE",
           "source": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
           "deviceName": "persistent-disk-0",
           "index": 0,
           "boot": true,
           "autoDelete": true,
           "licenses": [
            "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
           ],
           "interface": "SCSI",
           "guestOsFeatures": [
            {
             "type": "VIRTIO_SCSI_MULTIQUEUE"
            }
           ]
          }
         ],
         "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "kZvH-xYpACI=",
          "items": [
           {
            "key": "startup-script-url",
            "value": "gs://graphite-playground/bootstrap.sh"
           },
           {
            "key": "cost-center",
            "value": "12345"
           }
          ]
         },
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false
         },
         "cpuPlatform": "Intel Sandy Bridge",
         "labelFingerprint": "42WmSpB8rSM=",
         "startRestricted": false,
         "deletionProtection": false
        }
  recorded_at: Wed, 01 Aug 2018 22:26:02 GMT
recorded_with: VCR 4.0.0
