---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTYyNjA0LCJpYXQiOjE1MzMxNjI0ODQsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.LTP6Lsr_s5E_N-aiTuFBSKdiH0jJ4v0nZVFXU7tXEes1oQJo_Ia4GxUiBjkRqKIkmPwMop2uDqOwklkD1cqukJCj8rdNXTo62oHhBpxS8Wp3yM7uXmuQnkQSdJau78wMyAjlGJNVeR_f25fCUAxUN_nfnLpVnY_Z9wxvIgmEWyhj-uUJ-CdW9EsThpqh_9zr1oMzpFv9fnRglzr5DPYh3hyvM-qSoeJ2qpvp3kz8g_G6RYpafWypJkdt0Uv-Zo9IeEPKHLX1y-n4raXqK6DHm1sQFItipP2zvolW_b_Fq_l8Lz4gyG26nm8TQOAUW1pHvNxCdkWlKgjfQSiEEmsDiA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloKBvgxn66BcYCGSdYs7Wkt1Voml80MTigW-LZ5Uwu4LzmwaU0RDQZWkTTas1wiOHiVnGJIDgA7R7Txvo9qbgTdNnL6TJoa_4Fv_7wBXnstiWsHUCO8OKgzzzE",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 01 Aug 2018 22:29:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBvgxn66BcYCGSdYs7Wkt1Voml80MTigW-LZ5Uwu4LzmwaU0RDQZWkTTas1wiOHiVnGJIDgA7R7Txvo9qbgTdNnL6TJoa_4Fv_7wBXnstiWsHUCO8OKgzzzE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"X7iAgfhOcTMhLC9u3dY4Bk9Hfs4=/6Y89sE7sgUkwMgzAcc1EKNXKnbE="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Wed, 01 Aug 2018 22:29:04 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBvgxn66BcYCGSdYs7Wkt1Voml80MTigW-LZ5Uwu4LzmwaU0RDQZWkTTas1wiOHiVnGJIDgA7R7Txvo9qbgTdNnL6TJoa_4Fv_7wBXnstiWsHUCO8OKgzzzE
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
         }
        }
  recorded_at: Wed, 01 Aug 2018 22:29:04 GMT
recorded_with: VCR 4.0.0
