---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTYyNDA3LCJpYXQiOjE1MzMxNjIyODcsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.Nvef6mi_NoxORrVczkMmDW4U5_KgyuIO46tMCQbFtz-2_rl6nsL8d3Uu1rXddkySaWnO70VJH2x55rNEyzkQjadlrknCcYIwQQHF-zkKGHtmojG9L5ouyqaI1YcDz2Oxz0TwayrVUjSU7nMwf0SeUPKhxZFkCFOJxVQnCeDef9LDQ_NChS6QAfLvP5iuVQE9XWuD-kEYFfMl6FPY_mNbaHmaA15x2dlcvs5CArWLMPoSGnoqQHy5StQVnSQBuEAtUopnXJEVI96HOOzEGhDZDfpwNhkMg9kshdrfqT4L0-bP25vllGgllmQbAm0v4gilJxpvAkw9U177lPH86NubEw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloKBspLm6kW5gYIugt321EHlcBVhJVGJkbv4Rb7It4JSP0a5ziJ1q8rIgSjVOob0wgpZ27zaWYMXoOoAvNOG8i9S41zFN2g00j-384J7j5oFoYyDQ1ZSqhbVIs",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 01 Aug 2018 22:25:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBspLm6kW5gYIugt321EHlcBVhJVGJkbv4Rb7It4JSP0a5ziJ1q8rIgSjVOob0wgpZ27zaWYMXoOoAvNOG8i9S41zFN2g00j-384J7j5oFoYyDQ1ZSqhbVIs
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0FctCxzUXdfz1-VJQnzv1fAAIns=/l-LSZcMMfFnEew0rxsU6QLHo72U="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Wed, 01 Aug 2018 22:25:47 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBspLm6kW5gYIugt321EHlcBVhJVGJkbv4Rb7It4JSP0a5ziJ1q8rIgSjVOob0wgpZ27zaWYMXoOoAvNOG8i9S41zFN2g00j-384J7j5oFoYyDQ1ZSqhbVIs
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1' was not found"
         }
        }
  recorded_at: Wed, 01 Aug 2018 22:25:47 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks
    body:
      encoding: UTF-8
      string: '{"kind":"compute#disk","name":"instance-test-os-1","sizeGb":50,"sourceImage":"projects/ubuntu-os-cloud/global/images/family/ubuntu-1604-lts"}'
    headers:
      Authorization:
      - Bearer ya29.c.EloKBspLm6kW5gYIugt321EHlcBVhJVGJkbv4Rb7It4JSP0a5ziJ1q8rIgSjVOob0wgpZ27zaWYMXoOoAvNOG8i9S41zFN2g00j-384J7j5oFoYyDQ1ZSqhbVIs
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3411376002995031427",
         "name": "operation-1533162347547-572672d1bc979-3bc39ef5-495f2b2e",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "targetId": "5218979836387626372",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T15:25:48.426-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162347547-572672d1bc979-3bc39ef5-495f2b2e"
        }
  recorded_at: Wed, 01 Aug 2018 22:25:48 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162347547-572672d1bc979-3bc39ef5-495f2b2e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBj1lXwVMi4LdFYFHBmUId2vqHO8cTFpUBX_klo3RNVuBbu3Ocmbh8Wa_HJGN6IJ20E6knPMoCmAd1oFKHd_UGkoUP2OZTll006M-MyeuGKw_f3PyEL4SRok
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8RPF-_Rs26iEnlwd0yUPy8Im5-o=/7cUlOwFTbZg956Uj2MY0kVF6as0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3411376002995031427",
         "name": "operation-1533162347547-572672d1bc979-3bc39ef5-495f2b2e",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "targetId": "5218979836387626372",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T15:25:48.426-07:00",
         "startTime": "2018-08-01T15:25:49.116-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162347547-572672d1bc979-3bc39ef5-495f2b2e"
        }
  recorded_at: Wed, 01 Aug 2018 22:25:49 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162347547-572672d1bc979-3bc39ef5-495f2b2e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBpGZOLBbGf7HTzhwo3_kRxyq3Xyh8ZGXQzZjDl7ZGc_BcI30OYcwVvSYUHtTxFBGAXl-m-RxOdPrdlSiWBUaO9QabyCbqCKVLCpPaUbawzwkcTyNLPYLNCE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"KZrHWNlGZL8QoXYOdgOb6Q_tLm4=/9MYUCopX7H31PpLLLhr0oBd18Us="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "3411376002995031427",
         "name": "operation-1533162347547-572672d1bc979-3bc39ef5-495f2b2e",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "targetId": "5218979836387626372",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T15:25:48.426-07:00",
         "startTime": "2018-08-01T15:25:49.116-07:00",
         "endTime": "2018-08-01T15:25:50.151-07:00",
         "warnings": [
          {
           "code": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
           "message": "Disk size: '50 GB' is larger than image size: '10 GB'. You might need to resize the root repartition manually if the operating system does not support automatic resizing. See https://cloud.google.com/compute/docs/disks/persistent-disks#repartitionrootpd for details.",
           "data": [
            {
             "key": "disk_size_gb",
             "value": "50"
            },
            {
             "key": "image_size_gb",
             "value": "10"
            }
           ]
          }
         ],
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162347547-572672d1bc979-3bc39ef5-495f2b2e"
        }
  recorded_at: Wed, 01 Aug 2018 22:25:51 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBpGZOLBbGf7HTzhwo3_kRxyq3Xyh8ZGXQzZjDl7ZGc_BcI30OYcwVvSYUHtTxFBGAXl-m-RxOdPrdlSiWBUaO9QabyCbqCKVLCpPaUbawzwkcTyNLPYLNCE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"DGXswI10uxzpGw5XRrpLUqIBnH0=/SL8ZXg01DK4YDESR5qdVjrKnfP0="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#disk",
         "id": "5218979836387626372",
         "creationTimestamp": "2018-08-01T15:25:48.398-07:00",
         "name": "instance-test-os-1",
         "sizeGb": "50",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "status": "READY",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
         "sourceImage": "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-1604-xenial-v20180724",
         "sourceImageId": "6243803748120370197",
         "type": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/diskTypes/pd-standard",
         "licenses": [
          "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
         ],
         "guestOsFeatures": [
          {
           "type": "VIRTIO_SCSI_MULTIQUEUE"
          }
         ],
         "labelFingerprint": "42WmSpB8rSM=",
         "licenseCodes": [
          "1000201"
         ]
        }
  recorded_at: Wed, 01 Aug 2018 22:25:51 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBpGZOLBbGf7HTzhwo3_kRxyq3Xyh8ZGXQzZjDl7ZGc_BcI30OYcwVvSYUHtTxFBGAXl-m-RxOdPrdlSiWBUaO9QabyCbqCKVLCpPaUbawzwkcTyNLPYLNCE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"feIVcM8_Hjq4Asw36clpVf611yo=/WA0JrcrBo8G9cN-TwHgZWP19IbQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#network",
         "id": "1942981909161036014",
         "creationTimestamp": "2017-11-30T13:20:01.581-08:00",
         "name": "default",
         "description": "Default network for the project",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
         "autoCreateSubnetworks": true,
         "subnetworks": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/europe-west4/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/northamerica-northeast1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/asia-south1/su[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBpGZOLBbGf7HTzhwo3_kRxyq3Xyh8ZGXQzZjDl7ZGc_BcI30OYcwVvSYUHtTxFBGAXl-m-RxOdPrdlSiWBUaO9QabyCbqCKVLCpPaUbawzwkcTyNLPYLNCE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"IzaOGrpsBjHIoYeYAhtwpGgFZRw=/k-Xqn5liMsHlAjrGxOYPFIsz9UQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#region",
         "id": "1000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1",
         "description": "us-central1",
         "status": "UP",
         "zones": [
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-b",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-c",
          "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-f"
         ],
         "quotas": [
          {
           "metric": "CPUS",
           "limit": 72.0,
           "usage": 1.0
          },
          {
           "metric": "DISKS_TOTAL_GB",
           "limit": 40960.0,
           "usage": 60.0
          },
          {
           "metric": "STATIC_ADDRESSES",
           "limit": 21.0,
           "usage": 3.0
          },
          {
           "metric": "IN_USE_ADDRESSES",
           "limit": 69.0,
           "usage": 0.0
          },
          {
           "metric": "SSD_TOTAL_GB",
           "limit": 20480.0,
           "usage": 0.0
          },
          {
     [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBpGZOLBbGf7HTzhwo3_kRxyq3Xyh8ZGXQzZjDl7ZGc_BcI30OYcwVvSYUHtTxFBGAXl-m-RxOdPrdlSiWBUaO9QabyCbqCKVLCpPaUbawzwkcTyNLPYLNCE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Os5EcxopzWHr5894_Y0Pi6O6X-0=/ZHF3ve6T4yVXAORRSUIY5Ry0j4g="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#machineType",
         "id": "3001",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "n1-standard-1",
         "description": "1 vCPU, 3.75 GB RAM",
         "guestCpus": 1,
         "memoryMb": 3840,
         "imageSpaceGb": 10,
         "maximumPersistentDisks": 32,
         "maximumPersistentDisksSizeGb": "65536",
         "zone": "us-central1-a",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "isSharedCpu": false
        }
  recorded_at: Wed, 01 Aug 2018 22:25:51 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBiVcvL3ilyRMjQE_IgyHFl-kWdhRTI9X3UbECORfZ01LhC1i9aw8gYWwTIPfCbZ7oNkS9gSKxySKCPTU390p3t2GXW8pfKD9qphv_SbZuOqsQ7mn-fGhDnM
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c49T8cTbyuPqWltKpPZ3Y6Ap8gA=/zM846ZeH3buesL9F403QvVuNBJg="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#address",
         "id": "8653093024631897164",
         "creationTimestamp": "2018-06-28T17:51:47.540-07:00",
         "name": "instance-test-ip",
         "description": "",
         "address": "35.188.52.167",
         "status": "RESERVED",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/addresses/instance-test-ip",
         "networkTier": "PREMIUM"
        }
  recorded_at: Wed, 01 Aug 2018 22:25:52 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBiVcvL3ilyRMjQE_IgyHFl-kWdhRTI9X3UbECORfZ01LhC1i9aw8gYWwTIPfCbZ7oNkS9gSKxySKCPTU390p3t2GXW8pfKD9qphv_SbZuOqsQ7mn-fGhDnM
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
         }
        }
  recorded_at: Wed, 01 Aug 2018 22:25:52 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances
    body:
      encoding: UTF-8
      string: '{"kind":"compute#instance","disks":[{"autoDelete":true,"boot":true,"source":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1"}],"metadata":{"items":[{"key":"startup-script-url","value":"gs://graphite-playground/bootstrap.sh"},{"key":"cost-center","value":"12345"}]},"machineType":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1","name":"instance-test","networkInterfaces":[{"accessConfigs":[{"name":"External
        NAT","natIP":"35.188.52.167","type":"ONE_TO_ONE_NAT"}],"network":"https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default"}]}'
    headers:
      Authorization:
      - Bearer ya29.c.EloKBiVcvL3ilyRMjQE_IgyHFl-kWdhRTI9X3UbECORfZ01LhC1i9aw8gYWwTIPfCbZ7oNkS9gSKxySKCPTU390p3t2GXW8pfKD9qphv_SbZuOqsQ7mn-fGhDnM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "7124336665875680670",
         "name": "operation-1533162352471-572672d66ebdb-5e361dd4-42dba400",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "insert",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "targetId": "6284204078814694815",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T15:25:53.482-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162352471-572672d66ebdb-5e361dd4-42dba400"
        }
  recorded_at: Wed, 01 Aug 2018 22:25:53 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBqhsf4Dh-K2xq4dnETKe0Ocrk0gJp07dzckiI3otPJVg1r6yp6CWU3_foo25nS1R6JsjTOozh_-4y7IRE4d0ePNob156xjZXac4Hk_WfZ5-fXYoFf4TrEso
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"v_4jX6bo0_JeFGASc6UMi18ldTw=/udBzCWdpPmSlId3JxwcfhqMe7KQ="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#instance",
         "id": "6284204078814694815",
         "creationTimestamp": "2018-08-01T15:25:53.300-07:00",
         "name": "instance-test",
         "tags": {
          "fingerprint": "42WmSpB8rSM="
         },
         "machineType": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "status": "RUNNING",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "networkInterfaces": [
          {
           "kind": "compute#networkInterface",
           "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
           "subnetwork": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
           "networkIP": "10.128.0.3",
           "name": "nic0",
           "accessConfigs": [
            {
             "kind": "compute#accessConfig",
             "type": "ONE_TO_ONE_NAT",
             "name": "External NAT",
             "natIP": "35.188.52.167",
             "networkTier": "PREMIUM"
            }
           ],
           "fingerprint": "itHulOyB9y8="
          }
         ],
         "disks": [
          {
           "kind": "compute#attachedDisk",
           "type": "PERSISTENT",
           "mode": "READ_WRITE",
           "source": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
           "deviceName": "persistent-disk-0",
           "index": 0,
           "boot": true,
           "autoDelete": true,
           "licenses": [
            "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
           ],
           "interface": "SCSI",
           "guestOsFeatures": [
            {
             "type": "VIRTIO_SCSI_MULTIQUEUE"
            }
           ]
          }
         ],
         "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "kZvH-xYpACI=",
          "items": [
           {
            "key": "startup-script-url",
            "value": "gs://graphite-playground/bootstrap.sh"
           },
           {
            "key": "cost-center",
            "value": "12345"
           }
          ]
         },
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false
         },
         "cpuPlatform": "Intel Sandy Bridge",
         "labelFingerprint": "42WmSpB8rSM=",
         "startRestricted": false,
         "deletionProtection": false
        }
  recorded_at: Wed, 01 Aug 2018 22:26:01 GMT
recorded_with: VCR 4.0.0
