---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI0NzQ2NTAyNTk5OS1jb21wdXRlQGRldmVsb3Blci5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNTMzMTYyNDIyLCJpYXQiOjE1MzMxNjIzMDIsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jb21wdXRlIn0.Di_diKhNkKjutcqYBhD2H7RS0iyczushAMIHj6SDxtsVnofF7UiMZurueNHB58nOKMyGZgxFR4zJXBqRaSPqQJY3bDejNv--qRb7oIzHxa9QpSLrjP8Jn277AiSTd50pdczVrKBqibdGNG_6FV6kKG6QQN6l58KMtWn-37KPbyJhaWu96dibBw1iYtVqKMQptnKQmn9y_u-oQXQEvt_tyX45L9JigMTBPw6QuhSkN8Okp9NxYSwytq3M2SdWRXUxcwIVDvdozM03HrjD5KFZnVQ0bDdcppPK4ggxngwmq-qek2e5uOjbJonVMCzg6fYGx2OCj4boCC0PyGVAUHhloQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EloKBsPG3gkHrdwP8-aLXGeCZFHRdiys0Gle6jK1iT2cfAZ-nX1_Z8Og5x9Mzax-HiFm3l2jhcE3jdrj7NvHOulDI6nLjZGBX2OHq3cFUDnqfnuEHrNt4ugTVNY",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 01 Aug 2018 22:26:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBsPG3gkHrdwP8-aLXGeCZFHRdiys0Gle6jK1iT2cfAZ-nX1_Z8Og5x9Mzax-HiFm3l2jhcE3jdrj7NvHOulDI6nLjZGBX2OHq3cFUDnqfnuEHrNt4ugTVNY
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"x5cYYBx5XAAWaRfcQYKYv3Fwg2A=/8QvWlH_Jm44MbI4YbEWqnIx7BQk="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#zone",
         "id": "2000",
         "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
         "name": "us-central1-a",
         "description": "us-central1-a",
         "status": "UP",
         "region": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "availableCpuPlatforms": [
          "Intel Skylake",
          "Intel Broadwell",
          "Intel Sandy Bridge"
         ]
        }
  recorded_at: Wed, 01 Aug 2018 22:26:03 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBjsLqx71WqBaSgUG57ZBgCfDv6jrT7nBQS8jn5_FRX-VfK2q1L7s_1V9ypn3K9bk6gM4IK9icgIwqqKyb2j9dGWtW_JpotLiT93qSyVLcJ43kZDCp63j_Kc
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cBXdkDiDbRveRLL9tHx-gmkEhEQ=/T3EIvaK5WrosCVyOpnYaYo0a3Cc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#instance",
         "id": "6284204078814694815",
         "creationTimestamp": "2018-08-01T15:25:53.300-07:00",
         "name": "instance-test",
         "tags": {
          "fingerprint": "42WmSpB8rSM="
         },
         "machineType": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/machineTypes/n1-standard-1",
         "status": "RUNNING",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "networkInterfaces": [
          {
           "kind": "compute#networkInterface",
           "network": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/global/networks/default",
           "subnetwork": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/regions/us-central1/subnetworks/default",
           "networkIP": "10.128.0.3",
           "name": "nic0",
           "accessConfigs": [
            {
             "kind": "compute#accessConfig",
             "type": "ONE_TO_ONE_NAT",
             "name": "External NAT",
             "natIP": "35.188.52.167",
             "networkTier": "PREMIUM"
            }
           ],
           "fingerprint": "itHulOyB9y8="
          }
         ],
         "disks": [
          {
           "kind": "compute#attachedDisk",
           "type": "PERSISTENT",
           "mode": "READ_WRITE",
           "source": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/disks/instance-test-os-1",
           "deviceName": "persistent-disk-0",
           "index": 0,
           "boot": true,
           "autoDelete": true,
           "licenses": [
            "https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1604-xenial"
           ],
           "interface": "SCSI",
           "guestOsFeatures": [
            {
             "type": "VIRTIO_SCSI_MULTIQUEUE"
            }
           ]
          }
         ],
         "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "kZvH-xYpACI=",
          "items": [
           {
            "key": "startup-script-url",
            "value": "gs://graphite-playground/bootstrap.sh"
           },
           {
            "key": "cost-center",
            "value": "12345"
           }
          ]
         },
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false
         },
         "cpuPlatform": "Intel Sandy Bridge",
         "labelFingerprint": "42WmSpB8rSM=",
         "startRestricted": false,
         "deletionProtection": false
        }
  recorded_at: Wed, 01 Aug 2018 22:26:03 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBjsLqx71WqBaSgUG57ZBgCfDv6jrT7nBQS8jn5_FRX-VfK2q1L7s_1V9ypn3K9bk6gM4IK9icgIwqqKyb2j9dGWtW_JpotLiT93qSyVLcJ43kZDCp63j_Kc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6162315672913153428",
         "name": "operation-1533162363577-572672e1062ac-104e56a2-3d042677",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "targetId": "6284204078814694815",
         "status": "PENDING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T15:26:03.897-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162363577-572672e1062ac-104e56a2-3d042677"
        }
  recorded_at: Wed, 01 Aug 2018 22:26:04 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162363577-572672e1062ac-104e56a2-3d042677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBukBU8EVEqAEHeb92E71AyS6T5Q-Sj4rjWWg_aYu7EYL1cAFCSt3y1XjBeN2hiH2jCL34IO5wph4Vy0OnftwLZZz3QSwh51fIlP7Yk5-5aOYjd2QrYlQbRk
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4nxykABWKNJ30BI3iorsnybyDRM=/iVYjWLM8XKqGB6BDCNwV-JWIY80="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6162315672913153428",
         "name": "operation-1533162363577-572672e1062ac-104e56a2-3d042677",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "targetId": "6284204078814694815",
         "status": "RUNNING",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 0,
         "insertTime": "2018-08-01T15:26:03.897-07:00",
         "startTime": "2018-08-01T15:26:04.422-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162363577-572672e1062ac-104e56a2-3d042677"
        }
  recorded_at: Wed, 01 Aug 2018 22:26:05 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162363577-572672e1062ac-104e56a2-3d042677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBtNBfzGxm8-wrvurVcGz0KnfNeXNsZoJX4oBDmqo0HBxcFj-7tmor8V5Spcz60F-0MsePkKBMaYGPs3AKkXt0_4IGb6miUkrrIbGimOWg9td86biKPb31oo
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"tutvluqHDciJrMk1vGR6EeEUJNw=/Yzg9ATzGWSPkQ3xwbp1N87MuIpE="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "compute#operation",
         "id": "6162315672913153428",
         "name": "operation-1533162363577-572672e1062ac-104e56a2-3d042677",
         "zone": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a",
         "operationType": "delete",
         "targetLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test",
         "targetId": "6284204078814694815",
         "status": "DONE",
         "user": "47465025999-compute@developer.gserviceaccount.com",
         "progress": 100,
         "insertTime": "2018-08-01T15:26:03.897-07:00",
         "startTime": "2018-08-01T15:26:04.422-07:00",
         "endTime": "2018-08-01T15:29:02.866-07:00",
         "selfLink": "https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/operations/operation-1533162363577-572672e1062ac-104e56a2-3d042677"
        }
  recorded_at: Wed, 01 Aug 2018 22:29:03 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EloKBtNBfzGxm8-wrvurVcGz0KnfNeXNsZoJX4oBDmqo0HBxcFj-7tmor8V5Spcz60F-0MsePkKBMaYGPs3AKkXt0_4IGb6miUkrrIbGimOWg9td86biKPb31oo
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
           }
          ],
          "code": 404,
          "message": "The resource 'projects/personal-graphite-testing/zones/us-central1-a/instances/instance-test' was not found"
         }
        }
  recorded_at: Wed, 01 Aug 2018 22:29:03 GMT
recorded_with: VCR 4.0.0
